[2017-03-26 13:29] benjaoming opened #2 "Kolibri Windows installer: "Kolibri application already running""
Reporter is unable to run `kolibri manage createsuperuser`

![kolibri manage-error message](https://cloud.githubusercontent.com/assets/374612/24331643/d8331858-1238-11e7-909b-2acf0193197c.JPG)

Needs investigation quickly as it reportedly blocks usage on Windows.

[2017-03-27 13:20] mrpau-richard commented on #2
Hi @benjaoming thanks for reporting this. I will work on it.

[2017-04-03 06:39] mrpau-richard commented on #2
Hi @benjaoming I think you're looking at the wrong Kolibri exe file. The `exe` file you're using is the kolibri windows application. Use this `exe` path `C:\Python34\Scripts\kolibri.exe` to create a superuser.

[2017-04-06 18:28] benjaoming commented on #2
Hi @mrpau-richard - I didn't report this :)

But BP Panwar updated us by email:

Does the update indicate that this is not an issue?

[2017-04-14 14:36] benjaoming opened #5 "Split this repository into separate repos for Windows/Debian/Mac/PEX etc"
Suggesting that we have:

kolibri-installer-windows
kolibri-installer-debian
kolibri-installer-mac
kolibri-installer-pex
kolibri-installer-android (rename kolibri-android-wrapper)

Several scenarios would indicate that we should split this repo IMO:

1. Different maintainers for each installer
1. A commit for installer X should not make the build server build all installers for X,Y,Z
1. Automated

[2017-04-14 15:20] indirectlylit commented on #5
It's a fair perspective - boils down in some ways to the [mono-repo debate](http://gregoryszorc.com/blog/2014/09/09/on-monolithic-repositories/). We've had [some discussion on Trello](https://trello.com/c/S426ftCK/626-make-official-le-repos-for-installers-or-migrate-to-kolibri-repo) previously on the topic.

While generally I'm in favor of mono-repos (and [recently suggested](https://github.com/le

[2017-04-14 15:23] benjaoming commented on #5
@indirectlylit yes, I agree on the UI part. Actually, ka-lite-gtk is sitting in its own repo and isn't part of the ka-lite installer, but distributed as a separate (recommended, but optional!) dependency. I think the architecture should split up the UI from the Kolibri server, too. If we wanted bundled distributions, let them be so -- and not affect the architecture (versioning, repos etc).

[2017-04-14 15:31] indirectlylit commented on #5
One other important distinction is modular architectures (decoupled components with clearly defined interfaces) vs modular repos (independent release cycles, versioning, and source control histories).

You can build a modular architecture in a mono-repo, or a tightly-coupled architecture with distributed-repos :)

[2017-04-15 01:11] cpauya commented on #5
All very good points based on our experiences with KA-Lite installers @benjaoming.  And very good timing because this contains only the Windows installer codes for now.

The UI part indeed deserves another discussion @indirectlylit as it may be coded using a cross-platform toolkit such as QT, etc.

Let's get this installers repo split-up shall we? 😸

[2017-04-18 02:45] mrpau-richard commented on #2
@benjaoming Yeah, I think this was not an issue. closing this.

[2017-04-18 02:45] #2 closed

[2017-04-18 10:47] mrpau-richard opened #7 "Unable to stop the server: kolibri-stop.bat in the wrong Python folder"
Issue from: [Unable to stop the server: kolibri-stop.bat in the wrong Python folder #1222](https://github.com/learningequality/kolibri/issues/1222)

## Summary

My guess is that this is because there was the switch from Python 3 to Python 2, and the `kolibri-stop.bat` script was left behind.

Tried and failed to stop the server form the task tray. Opened the `Python27/Scripts` folder to stop it fr

[2017-04-18 10:59] mrpau-richard opened #8 "Fix hardcoded path at kolibri windows application and installer."
Fix hardcoded path at kolibri Windows installer and application.
Here's some of hardcoded path https://github.com/learningequality/kolibri-installers/pull/6#pullrequestreview-33179234

[2017-04-18 14:33] mrpau-eduard commented on #5
If we separate the `kolibri-installer` repo, there are minimal impact since we are just starting the windows installer for now.
Below is the action items that will be implemented if we split the `kolibri-installer` repository into separate repos.

**Action Items**
1. Rename the `kolibri-installer` into kolibri-installer-windows.
2. Create a new repo for kolibri-installer-mac and kolibri-installer-

[2017-04-18 15:16] benjaoming commented on #5
This is super, @indirectlylit could you give @mrpau-eduard 's action items a green light? I'm a big fan of separating out the immediate action items like @cpauya and @mrpau-eduard just did.. we can sort out release and workflows and other flows in due time, as long as we don't get stuck in big repos :)

[2017-04-18 16:52] indirectlylit commented on #5
Just to be clear, are these repos for both the installers _and_ the runtime GUIs?

If so, we shouldn't call them "installer" repos - they should be named something like os-specific "wrapper" repos.

[2017-04-18 16:54] indirectlylit commented on #5
If you guys feel that there is minimal coupling between the various code bases, then yes this sounds fine to me.

[2017-04-20 13:37] benjaoming commented on #5
Awesome, getting it done! Then there'll also be a new home for the debian installer:

https://github.com/learningequality/kolibri-installer-debian

[2017-04-20 13:41] benjaoming commented on #5
We had another discussion about branching strategy for KA Lite installers. We'll remove the `develop` branch and have `master` + stable version branches. This is because `develop` and `master` have largely gone out of sync and made it quite confusing. De-facto it just made the `master` branch useless.

I'll bring it up at the next dev meeting I attend :)

[2017-04-20 13:41] #5 closed

[2017-04-20 13:57] benjaoming commented on #5
Sorry, I didn't get back on this. No, I don't think there is consensus to keep them with the installers. I think when the effort happens, it should be sitting in its own repo, based on the widget toolkit. Installers can be responsible to bundle them and make them work on individual platforms.

For instance, I would be interested in doing `kolibri-controlpanel-gtk`, and then the one of the Debian b

[2017-04-21 19:07] radinamatic opened #9 "Create a separate pipeline on build kite for VF branded installers"
[This](https://files.slack.com/files-pri/T0KT5DC58-F52LCMQJE/download/kolibrisetup-0.3.1b3-instant-schools.exe) was supposed to be a Windows VF-branded installer, but the steps we used to make it such on Linux, did not work:
[code]
Running the two last commands separately results in no command prompt error, but the server still gives 500 error:

![virtualbox_ie11 - win7_21_04_2017_19_51_50](https:

[2017-04-25 02:34] mrpau-eduard commented on #9
Hi @radinamatic will take a look on this issue and  create another pipeline on build kite for VF branded base on the suggestion of @rtibbles .

[2017-04-25 10:37] radinamatic commented on #9
@mrpau-eduard Thanks, let me know if I can help in any way! 👍

[2017-05-05 02:28] mrpau-richard commented on #7
Fixed in #6, Closing this.

[2017-05-05 02:28] #7 closed

[2017-05-11 10:08] radinamatic opened #10 "Creating users - VF installer"
Trying the [test for phone hashing](https://learningequality.slack.com/archives/C0LE9NLCE/p1494432720892344) @jamalex recommended, on the VF installer we sent yesterday.

First problem is that I cannot login with the learner users I created previously as device owner:

![virtualbox_windows 7_11_05_2017_11_03_11](https://cloud.githubusercontent.com/assets/1457929/25942300/c786a0ec-363c-11e7-8716-f1

[2017-05-11 14:17] jamalex commented on #10
We don't expect users to be created by admins/DeviceOwners, yeah.

The signup issue looks like the issue we were getting where the default user plugin was not disabled.

[2017-05-11 15:24] radinamatic commented on #10
@mrpau-eduard @mrpau-richard

 I just tested @jamalex suggestion, run the command `kolibri plugin kolibri.plugins.user disable`, the error is gone, and phone hashing works (the first user in the table below was created by device owner, so it doesn't count :wink:):

![virtualbox_ie11 - win7_11_05_2017_17_09_15](https://cloud.githubusercontent.com/assets/1457929/25957307/d904daf6-3622-11e7-8f56-9756

[2017-05-12 00:30] mrpau-eduard commented on #10
Hi @radinamatic we will implement this request today will sending a new set of installer.

[2017-05-12 02:58] mrpau-richard commented on #10
Hi @radinamatic can you test the fix on this issue, using this [kolibri windows installer.]( https://buildkite.com/organizations/learningequality/pipelines/mrpau-vf-branded/builds/38/jobs/537a4040-d4df-4c61-9b72-4676bde264d4/artifacts/a3735d6b-27f8-4583-abf1-81227a2a5c10)

[2017-05-12 05:10] radinamatic commented on #10
Just tested again, we should be good to go! :+1:

![virtualbox_ie11 - win7_12_05_2017_06_56_35](https://cloud.githubusercontent.com/assets/1457929/25983032/f52078de-36e1-11e7-99be-7e94fe824c99.png)

[2017-05-12 05:14] radinamatic commented on #10
![virtualbox_ie11 - win7_12_05_2017_07_11_07](https://cloud.githubusercontent.com/assets/1457929/25983118/87a183d8-36e2-11e7-8509-f9e37450c3e2.png)

[2017-05-12 11:43] mrpau-richard opened #11 "Kolibri windows installer "Could not call proc""
This issue will be reproduced when there's an existing KA Lite installed in the same machine during the installation of Kolibri windows installer.
![screen shot 2017-05-12 at 7 41 53 pm](https://cloud.githubusercontent.com/assets/8663934/25996679/15e96cb0-374b-11e7-8e0d-7a17120bddd1.png)

[2017-05-17 09:03] mrpau-eduard commented on #11
Closing this issue already fix in #12

[2017-05-17 09:03] #11 closed

[2017-05-17 10:33] radinamatic commented on #11
Good work, guys! 👍

[2017-05-22 07:02] mrpau-richard opened #14 "Cannot start kolibri server if port 8080 is used."
This issue is created at [KA Lite windows installer issue](https://github.com/learningequality/ka-lite-installers/issues/131) and still not fix in Kolibri windows installer.

[2017-05-23 02:32] mrpau-richard opened #15 "Uninstalling Kolibri on Windows doesn't uninstall kolibri-static"
This issue is already fixed in [KA Lite Windows installer](https://github.com/learningequality/ka-lite-installers/issues/387) and will also apply the fix in Kolibrri Windows installer.

[2017-06-07 13:24] radinamatic commented on #14
Your fix on [KA Lite](https://github.com/learningequality/ka-lite-installers/pull/454) for this seems to be working, will you be adding it here too?

[2017-06-28 09:23] radinamatic commented on #10
Non extant on latest builds, closing!

[2017-06-28 09:23] #10 closed

[2017-07-11 18:30] radinamatic opened #18 "KOLIBRI SCRIPT DIR not set"
Fresh Windows 7 VM snapshot, installed Kolibri build from [#1816](https://github.com/learningequality/kolibri/pull/1816), got these env vars:

[code]

The same install on Win 10 VM:

[code]

So far so good.

However, if there was a KA Lite installed previously, (@laurenlichtman had this problem), `KALITE_PYTHON=\Python27\python.exe` remained in the registry even after KA Lite uninstall, and for so

[2017-07-11 21:44] laurenlichtman commented on #18
On Windows 10, I was running 0.4.0.dev448 (Chrome) and I pressed "Stop server" in the tray and then the same error message appeared (env var `kolibri_script_dir` is not set). I checked the environment variables and it created a variable for my user with a blank value. Kolibri still appears to be working from the browser but I'm unable to "stop server" from the system tray.

[2017-07-11 22:01] aronasorman commented on #18
@mrpau-eduard any clue on what the issue is?

[2017-07-12 03:09] mrpau-richard commented on #18
@radinamatic & @aronasorman I think the issue is the existing kolibri static installed when installing the kolibri installer with the same version. here's my steps to reproduce this issue.

- Install kolibri.
- Uninstall kolibri.
- Install kolibri again with the same version.
- The `KOLIBRI_SCRIPT_DIR` is not present at user environment variables.

To fix this issue manually set the `KOLIBRI_SCRIP

[2017-07-12 03:24] mrpau-richard opened #19 "Kolibri uninstaller is not showing in Windows 8 and 10"
@radinamatic commented in this [PR](https://github.com/learningequality/kolibri-installer-windows/pull/16#issuecomment-306823434) that Kolibri uninstall option is not showing in Windows 8 and 10. It's the same issue in KA Lite application.

[2017-07-12 18:21] radinamatic commented on #18
Confirmed, this should be fixed, as soon as the above PR by @mrpau-richard is merged! :+1:

[2017-07-12 18:23] radinamatic commented on #19
10-4, merge away the #16 and it will be fixed!

[2017-07-18 03:26] mrpau-richard opened #21 "Update the uninstall script"
We are already using InnoSetup (with GUI to uninstall Kolibri on Windows).  Let us update the uninstall script for these tasks:

- [x] Confirming from the user whether to remove (or not) the Kolibri data folder
- [x] Removing the environment variables
- [x] Show dialogs and texts based on the [Google Doc - Kolibri uninstall text](https://docs.google.com/document/d/1XF2c0GVHUN9pxpxLq8f6XHk8CLclnVGT

[2017-07-21 04:02] mrpau-richard commented on #18
Fixed in #20, closing this.

[2017-07-21 04:02] #18 closed

[2017-07-21 04:02] mrpau-richard commented on #15
fixed in #16, closing this.

[2017-07-21 04:02] #15 closed

[2017-07-27 18:30] radinamatic opened #22 "Make the pip installer hidden"
Python installer bundled into Kolibri, version 2.7.13 is actually not that bad, compared to previous versions. Not sure if we can couple that more tightly to Kolibri, since it's a separate program installation so it requires a separate confirmation from the user.

On another hand we do need to make the pip installs hidden so it neither requires a separate confirmation by the user, nor is visible t

[2017-07-27 22:28] radinamatic opened #23 "Start the server and open browser from the desktop shortcut"
_Amended with input from @indirectlylit_

In order to make the starting the server as seamless as possible, we agreed to start it just by double-clicking the desktop shortcut.

If I'm not mistaken, this does not necessarily mean eliminating the `Kolibri.exe` launcher, but just alters a bit its workflow:

## Starting Kolibri

1. User double-clicks the desktop shortcut.
2. Kolibri icon appears in th

[2017-08-03 22:56] ivanistheone opened #25 "Update copyright year to 2017"
currently shows 2015

<img width="498" alt="installation step 4 todo update 2017" src="https://user-images.githubusercontent.com/163966/28947330-3a54c1c6-787d-11e7-90eb-f7731fbf8857.png">

[2017-08-03 22:58] ivanistheone opened #26 "Maybe skip these informational steps"
Does the user need to know this?

<img width="479" alt="installation step 5 why do we need to know this" src="https://user-images.githubusercontent.com/163966/28947376-8fb25b9c-787d-11e7-80a1-8eae31b2751b.png">

I think it might be better to skip this informational message.

[2017-08-03 23:00] radinamatic commented on #25
Apparently there is a [PR for that already](https://github.com/learningequality/kolibri-installer-windows/pull/1), albeit a bit stale...

[2017-08-03 23:03] ivanistheone opened #27 "Publisher: UNKNOWN"
On Win10 with default security options I get the following warning screens

<img width="536" alt="installation step 1" src="https://user-images.githubusercontent.com/163966/28947507-41724130-787e-11e7-9b6c-7ba3eb6afcd7.png">

<img width="464" alt="installation step 2" src="https://user-images.githubusercontent.com/163966/28947501-3c9a826c-787e-11e7-8537-a6f41e1bac58.png">

What do we have to do to

[2017-08-03 23:04] radinamatic commented on #26
Apparently there is an [issue for that already](https://github.com/learningequality/kolibri-installer-windows/issues/22), too... :stuck_out_tongue:

[2017-08-03 23:06] radinamatic commented on #27
@ivanistheone Once we are done testing and ready to release the final installer, we do sign it prior to making it public, so the user is not "scared" but that first notification. :wink:

[2017-08-03 23:07] radinamatic commented on #27
AFAIK, there is no way we can avoid the Win firewall alerting user, but that happens only at the first server start.

[2017-08-03 23:07] ivanistheone opened #28 "Update "Kolibri on the Web" links"
<img width="314" alt="installation step 10 todo change link for kolibri on the web" src="https://user-images.githubusercontent.com/163966/28947634-edcfcd94-787e-11e7-9853-50e268514c59.png">

Currently takes you to https://learningequality.org/

Maybe it should point to https://community.learningequality.org/c/kolibri ?

[2017-08-03 23:10] radinamatic commented on #28
Fair point @ivanistheone!

Maybe keep that one and adding another for Community Forums...?

[2017-08-03 23:15] #26 closed

[2017-08-08 19:04] indirectlylit opened #29 "internationalize installer and GUI"
For the public release, we'll need to internationalize both the installer program and the tray GUI program into about 8-10 languages. Let's discuss strategies here.

Requirements:
* All user-facing strings in both the installer and the tray application should be translated into our primary languages (TBD - but approx. 8-10 total)
* The visible language should be chosen based on the user's Windows

[2017-08-08 23:46] indirectlylit opened #30 "Issue with selecting 'no' to installing Python"
I tried selecting 'no' to the prompt to install Python. Saw two errors:

![image](https://user-images.githubusercontent.com/2367265/29099232-e67ec1fc-7c58-11e7-9e71-0078bea33327.png)

![image](https://user-images.githubusercontent.com/2367265/29099237-f3b809be-7c58-11e7-9fce-81e4c1b24641.png)

It would be better to just show a single message (not an error) that says "Kolibri cannot run without ins

[2017-08-08 23:50] indirectlylit opened #31 "Could not find pip.exe"
I'm not sure what led to this, but here are the steps I went through:

* Loaded up an old VM that had an old version of Kolibri installed
* Uninstalled Kolibri
* Ran the new installer

I saw this message

![image](https://user-images.githubusercontent.com/2367265/29099289-5310c16c-7c59-11e7-91d5-d15e513b24fa.png)

Clicking 'OK' there let me to a file chooser where presumably I was supposed to find

[2017-08-09 01:44] mrpau-richard commented on #31
@indirectlylit the reason why we have that is when the installer can't find the `pip.exe` at path `\Python27\Scripts` it will show that option. To prevent this issue we must check if this path `\Python27\Scripts\pip.exe` exist  if not, We should ask the user to reinstall the python installer at the right path before the installation of Kolibri application.

I'll work on the issue when something go

[2017-08-09 01:46] mrpau-richard commented on #30
I will work on this @indirectlylit

[2017-08-09 06:12] mrpau-richard commented on #29
Hi @indirectlylit for the windows installer we can internationalize it. by creating [.isl](https://github.com/learningequality/kolibri-installer-windows/blob/develop/windows/inno-compiler/Default.isl) file and translate it into primary languages.

I'm still looking how we can internationalize the windows application tray GUI.

I think we can do a meeting next week same day and time  we schedule ou

[2017-08-09 16:08] radinamatic commented on #30
@mrpau-richard
The second error does need fixing, but my suggestion would be to change the message in order for the user to be able to come back and install Python:

![29099232-e67ec1fc-7c58-11e7-9e71-0078bea33327](https://user-images.githubusercontent.com/1457929/29131519-64b07a50-7d2d-11e7-905c-78e336d1badf.png)

`OK` button would restart the Python installer, and `Exit` would quit (without erro

[2017-08-09 19:45] indirectlylit commented on #29
Thanks sounds good!

Unfortunately I'll be out next week so a meeting won't be possible though.

[2017-08-09 19:47] radinamatic commented on #29
@rtibbles has stepped in to join instead, and the meeting is on for next week! :wink:

[2017-08-14 02:56] mrpau-richard commented on #25
Fixed in https://github.com/learningequality/kolibri-installer-windows/pull/1. Closing this

[2017-08-14 02:56] #25 closed

[2017-09-11 08:10] mrpau-richard opened #34 "Support Unicode Character in Kolibri windows application."
Kolibri windows application does not support unicode character yet.
It only support ascii characters.

[2017-09-13 02:19] indirectlylit opened #35 "Kolibri installer throws an error"
reported by @jayoshih during the 0.6 hack session:

* https://storage.googleapis.com/le-downloads/kolibri%2Frelease%2F2448%2Freport.html
* Windows installer doesn't have Kolibri.exe file
* Try to install Kolibri on Windows. Running it returns an error

[2017-09-14 06:52] mrpau-richard commented on #35
Hi @jayoshih I was successfully installed and ran the Kolibri installer from this [build](https://storage.googleapis.com/le-downloads/kolibri%2Frelease%2F2448%2Freport.html) in Windows 7 virtual box.

@jayoshih may I know what operating system your using?

[2017-09-20 15:49] radinamatic commented on #35
I've also tested several `0.6dev` builds and never run to that error.
@jayoshih Did you try the latest 0.6 pre-release?

[2017-09-21 21:46] jayoshih opened #37 "Windows Installer server not starting"
After installing  [this installer](https://drive.google.com/open?id=0B5Tyi-tRKOFMYkVMWFBLbjhva2M), I just keep getting "server is starting" notification
![image](https://user-images.githubusercontent.com/7447496/30720224-77079db2-9edb-11e7-9e84-9cf5e8c25c1c.png)

I also tried [this installer](https://learningequality.slack.com/files/U0UAHMQP8/F77RSGW4E/kolibrisetup-0.6.dev020170921163803_git.exe)

[2017-09-22 09:43] mrpau-richard commented on #37
Hi @jayoshih can you try to manually run the kolibri in the command prompt using this command.
`C:\Python27\Scripts\kolibri.exe start`
Can you also post the output logs here if you encountered an error.

[2017-09-25 22:37] laurenlichtman commented on #37
I ran into the same issue on installation but when I didn't touch any of the installation windows for a few minutes, the server did start in the background and I was able to click "Load in browser." The window with the IP and port to run Kolibri did not appear. I had Kolibri v0.5.x already installed on my Windows10 machine so that could also be the difference.

[2017-10-17 01:02] indirectlylit commented on #30
Still seeing the second error:

![image](https://user-images.githubusercontent.com/2367265/31641819-16f555f2-b29c-11e7-836f-fbf5825f310f.png)

[2017-10-17 01:11] indirectlylit opened #40 "pop up tray menu on left or right click"
![image](https://user-images.githubusercontent.com/2367265/31642015-4d23a074-b29d-11e7-98b8-79e24b8714f1.png)

Currently, nothing happens if you left-click the tray icon; most other tray icons are interactive on left-click.

Would it be possible to pop up the menu on left _or_ right click?

[2017-10-17 01:31] mrpau-richard commented on #40
@indirectlylit Yeah, It's possible to pop up the menu in the left click or right click.  I will work on this.

[2017-10-17 01:48] mrpau-richard commented on #31
fixed in [#39](https://github.com/learningequality/kolibri-installer-windows/pull/39) closing this.

[2017-10-17 01:48] #31 closed

[2017-10-17 01:50] mrpau-richard commented on #30
fixed in [#32](https://github.com/learningequality/kolibri-installer-windows/pull/32) closing this.

[2017-10-17 02:01] indirectlylit commented on #30
@mrpau-richard I'm pretty the screenshot I posted was using the installer posted in #32

I'll test again!

[2017-10-17 02:05] mrpau-richard commented on #30
Oh, sorry reopen this again.

[2017-10-17 02:12] indirectlylit commented on #30
I just re-tested and cannot reproduce anymore, so I must have made a mistake

[2017-10-17 02:12] #30 closed

[2017-10-17 17:08] indirectlylit commented on #23
I believe this is all addressed!

[2017-10-17 17:08] #23 closed

[2017-10-17 17:08] indirectlylit commented on #22
addresed!

[2017-10-17 17:08] #22 closed

[2017-10-17 17:09] #8 closed

[2017-10-17 17:12] indirectlylit opened #41 "'launch kolibri' is not translated"
see:

![image](https://user-images.githubusercontent.com/2367265/31678663-adfa5588-b323-11e7-9a91-1d77279f2d43.png)

[2017-10-17 17:13] indirectlylit opened #42 "uninstaller buttons are not translated"
![image](https://user-images.githubusercontent.com/2367265/31678714-daec6be4-b323-11e7-86e6-33b209db5056.png)

![image](https://user-images.githubusercontent.com/2367265/31678872-4b7d0562-b324-11e7-9c79-1abfd226665f.png)

[2017-10-18 07:24] mrpau-richard commented on #42
@indirectlylit I already explained this issue in @radinamatic [here](https://github.com/learningequality/kolibri-installer-windows/pull/36#issuecomment-334342661)

[2017-10-19 11:44] radinamatic opened #45 "License text translations missing"
We forgot to provide the translation of the license text.

### Spanish
[code]

[Source Wikipedia](https://es.wikipedia.org/wiki/Licencia_MIT)

### German

[code]

[Source Wikipedia](https://de.wikipedia.org/wiki/MIT-Lizenz)

### French

Could only find this half-translated... :confused:

[code]
[Source Wikmedia Commons](https://commons.wikimedia.org/wiki/Template:MIT?uselang=fr)

### Portuguese

[

[2017-10-27 08:43] #41 closed

[2017-11-19 02:56] #34 closed

[2017-11-19 02:56] indirectlylit commented on #29
🎉

[2017-11-19 02:56] #29 closed

[2017-11-19 02:58] indirectlylit commented on #42
thanks!

[2017-11-19 02:58] #42 closed

[2017-11-19 03:00] indirectlylit commented on #19
#16 is merged now - does that mean this is fixed?

[2017-11-19 03:05] indirectlylit opened #47 "remove 'accept license' step from installer"
Currently we include an 'accept license' step in the installer:

![image](https://user-images.githubusercontent.com/2367265/32986970-f764b032-cc92-11e7-807f-4145b79892b4.png)

This doesn't make sense for a couple reasons:

* the license is not relevant for end-users: the MIT license is source-code and developer-related
* none of our other distributions (pex, debian, pypi) have this step

Let's rem

[2017-11-19 03:05] indirectlylit commented on #45
closing in favor of #47

[2017-11-19 03:05] #45 closed

[2017-11-21 17:16] radinamatic opened #50 "Localization issue in the setup step"
Issue found while testing #49.

So the installer is started in English, and the Windows interface is set to be the default in English:

![win7 start running - oracle vm virtualbox_056](https://user-images.githubusercontent.com/1457929/33085367-cf9894fc-cee4-11e7-8825-c9040ec4edec.png)

The first few steps were shown in English, but then this one was displayed in Spanish:

![win7 start running - or

[2017-11-21 17:19] #47 closed

[2017-11-21 17:28] #40 closed

[2017-11-22 08:32] mrpau-richard commented on #50
@radinamatic that's my bad, I didn't clean the Inno setup compiler source, when I build that installer. I built a new one from the develop branch, and that issue you encountered can't be reproduced. You can download the installer [here](https://drive.google.com/open?id=1RW7FXrnXSFQUoJ7E6jwXoJIQn9Ndd-It) for the testing.

[2017-11-29 05:42] #50 closed

[2017-12-01 07:19] mrpau-richard commented on #19
@radinamatic I have these references saying, why the uninstall is not showing on Windows 8 and 10
[code]
Comments at [stackoverflow](https://stackoverflow.com/a/39371932)

[code]
[Uninstall apps fast](http://home.bt.com/tech-gadgets/computing/windows-10/secrets-windows-10-start-menu-11363997821398)
![screen shot 2017-12-01 at 3 05 47 pm](https://user-images.githubusercontent.com/8663934/33471893-6

[2017-12-01 07:23] indirectlylit commented on #19
works for me!

[2017-12-01 07:23] #19 closed

[2017-12-07 22:47] indirectlylit opened #52 "windows installer can take a very long time during final step"
Some recent reports from windows 10:

* 40 minutes inside a VM (@radinamatic)
* 10 minutes on a fast windows laptop (@alanchenz)

This is in the final stage when the green bar is at 100%, so it can look to the end-user like things are totally frozen unless they're savvy enough to check the task manager.

Furthermore, by this point the desktop 'Kolibri' icon has already been created and the user ca

[2017-12-07 22:50] radinamatic commented on #52
Mine is 5 years old $200 laptop so that makes perfect sense... :joy:

And we should definitely try to find a better solution to the fixed green bar (cc @mrpau-richard )

[2017-12-12 20:02] indirectlylit opened #54 "windows 10 notifications have strange ID visible"
See below:

![image](https://user-images.githubusercontent.com/2367265/33905636-27a17056-df34-11e7-9bcf-89d99c17e234.png)

It would be best to hide the second two lines

[2017-12-12 20:05] indirectlylit opened #55 "windows 10 notifications cause an audible, annoying 'ding'"
We recently updated the installer to give periodic notifications while the server is starting up. This is helpful because otherwise the user has no way of knowing that an in-progress operation is happening:

![image](https://user-images.githubusercontent.com/2367265/33905743-74219f3c-df34-11e7-8abf-30f06a6075a4.png)

Unfortunately, it causes a 'ding' sound over and over. We should investigate alte

[2017-12-18 09:41] benjaoming opened #56 "Clarify compatibility with Kolibri version"
Kolibri tracks some tagged version of the installer, however since the installer is maintained in a release cycle of itself, we should make some decisions:

 * For now, it seems that the installer is intended to work for all versions of the Kolibri source dist. This seems like a nice, simple approach, avoiding different release branches in this installer repo

 * When an installer update is out fo

[2017-12-26 09:28] radinamatic opened #58 "Rename the uninstaller file"
When user has all the notifications enabled, Windows asks for permission to let Kolibri uninstaller perform modifications on users computer, and since its name is `unins000.exe`, it might look suspicious.

I suggest we rename it to `UninstallKolibri.exe` or similar, to avoid cautious users from disallowing the execution.

![win10 start running - oracle vm virtualbox_146](https://user-images.github

[2017-12-26 21:32] #55 closed

[2017-12-26 21:34] mrpau-richard commented on #55
Fixed in #57, Closing this.

[2017-12-27 10:32] radinamatic commented on #52
My testing with dev builds in a VM with 4GBs RAM on a fast desktop, never went over 5 minutes for the installation to finish.

Maybe we can close this after #53 by @mrpau-richard is merged?

[2018-01-05 09:03] mrpau-richard commented on #58
@radinamatic I have these references that renaming the `uninstall executable` is not recommended in Inno Setup.
https://stackoverflow.com/a/38278768
http://www.jrsoftware.org/iskb.php?uninstallername

[2018-01-09 01:52] indirectlylit commented on #56
I don't understand the use-case for this. Could you give an example of when it would be useful to backport a newer installer to an older version of Kolibri?

[2018-01-09 02:05] #52 closed

[2018-01-09 02:10] indirectlylit commented on #58
Sounds reasonable. It would be nice if they could be named e.g. `Uninstall-Kolibri-0.7.0.exe` to support the use-case described more cleanly, but sounds like that's not possible with Inno Setup

[2018-01-09 02:10] #58 closed

[2018-01-09 02:15] indirectlylit commented on #27
closing - the signed version is a little less sketchy-looking

[2018-01-09 02:15] #27 closed

[2018-01-09 11:09] benjaoming commented on #56
I think this has happened before:

User: I am using the latest version and I stumbled upon this blocking bug X
LEQ: Oh okay, could you try using the previous version?
User: It doesn't occur here, I will stick to this version

\*User deploys previous version at 20 schools\*

In these cases, we want to ensure that previous releases do not suffer from bugs in the installer.

I realize that of course,

[2018-01-09 11:11] benjaoming commented on #56
Btw. this isn't necessarily the most important aspect, just as long as we can get the installer versioned and be explicit about which kolibri versions the installer must support.

Otherwise when building patch releases for older series, we risk the confusion of which installer to build with.

[2018-01-10 19:09] indirectlylit commented on #56
This scenario is about to come up with the Kolibri 0.7.1 patch release:

* Kolibri 0.7.0 is pinned to Window Installer 1.1.0
* Kolibri 0.7.1 will be pinned to Window Installer 1.1.1 and get the recent bug fixes

Do you foresee any issues with this general flow?

The main benefit I like is that a user can send us a single (Kolibri) version number, and we know exactly what code they're running - inc

[2018-01-10 19:18] indirectlylit commented on #56
Maybe we should avoid giving that advice? Instead maybe something like...

?

[2018-01-15 08:39] benjaoming commented on #54
From sync-up today: Not prioritizing, until maybe we have some accessible knowledge on what the issue actually is.

[2018-01-15 22:07] indirectlylit commented on #54
The string seems to be a registry location, perhaps for the GUID of our windows app?

Some [information on notifications](https://msdn.microsoft.com/en-us/library/windows/desktop/ee330740(v=vs.85).aspx#define_notification) and the [data structure](https://msdn.microsoft.com/en-us/library/windows/desktop/bb773352(v=vs.85).aspx)

[2018-03-20 15:25] benjaoming commented on #56
Sorry about not getting back here.

Not exactly.. if we don't version the installers, we may release the same version of Kolibri several times with different installers. Users won't be able to tell the difference.

It's quite normal to version installer/package builds alongside the source version.

Also, I'm still not sure I understand how compatibility with upstream Kolibri source versions is bei

[2018-03-20 15:28] benjaoming commented on #14
We are working on a framework for doing startup checks. I think exit codes will guide the UIs across different platforms to know about the errors.

I don't think you should attempt fixing this, but wait for https://github.com/learningequality/kolibri/issues/3285 to progress. We do check if the port is occupied since 0.8, but the exit code is just set to `1` so it's hard to decipher.

[2018-03-20 18:23] indirectlylit commented on #56
If we're just trying to clarify compatibility, at least for now the simple answer is:

[2018-03-20 18:25] indirectlylit commented on #56
Note that we _are_ versioning the windows installer, and have a few explicit tags and releases: https://github.com/learningequality/kolibri-installer-windows/releases

[2018-04-11 00:45] indirectlylit commented on #35
closing as this doesn't seem to happen anymore

[2018-04-11 00:45] #35 closed

[2018-04-11 00:48] indirectlylit opened #62 "When server is running and desktop icon is launched, open web browser to Kolibri app"
We've noticed that folks sometimes close their web browser and then try to re-open Kolibri by double-clicking the icon on the desktop. Most people don't know to click the tray icon and launch the browser from there.

If the server is already running and someone launches the Windows GUI from the desktop or start menu, we should launch the web browser and open Kolibri.

[2018-04-11 07:51] mrpau-richard commented on #28
@radinamatic we can't add multiple Kolibri web links. either we replace it or retained it.

[2018-04-11 09:04] mrpau-richard commented on #28
@radinamatic I read more in the Inno Setup documentation and yeah it's possible to add more kolibri web links.

[2018-04-12 01:14] indirectlylit opened #65 "ensure port is correct if changed and other config options are respected"
Currently, port 8080 is hard-coded into the GUI in a few places. Instead, it should be dynamically driven either by an environment variable or by the status output of the Kolibri server

We recently introduced support for .ini file-based configuration: https://github.com/learningequality/kolibri/pull/3607

The windows launcher should respect .ini file config

[2018-04-30 17:01] #62 closed

[2018-05-03 02:22] mrpau-richard opened #66 "In the middle of installing kolibri the system Restarts ? Why ?"
Reported by: @siamraj at [3578](https://github.com/learningequality/kolibri/issues/3578)

[2018-05-08 13:46] benjaoming opened #67 "Change to Python 3?"
I'm sure we've talked about this before: The built installer for Windows should not be based on Python 2.7

Here's an indirect consequence: https://github.com/learningequality/ka-lite-installers/pull/476

It seems that the issue is about using the .whl file built on Buildkite, but that file is now Python 3 compatible: https://github.com/learningequality/kolibri-installer-windows/pull/4

Could we t

[2018-05-08 13:47] benjaoming commented on #67
@indirectlylit assigning you for guidance on when to get this done :)

[2018-05-10 00:37] indirectlylit commented on #67
If in fact the blocker against using Python 3 is gone, then yes this seems like a good thing to tackle. @mrpau-richard would you mind taking this on in the next couple weeks?>

[2018-05-15 17:26] indirectlylit commented on #37
we haven't seen this in a long time - closing

[2018-05-15 17:26] #37 closed

[2018-05-15 17:27] indirectlylit commented on #9
https://buildkite.com/learningequality/kolibri-vf

[2018-05-15 17:27] #9 closed

[2018-05-15 17:31] indirectlylit commented on #65
@mrpau-richard - updated this issue with new information regarding Kolibri config. I think we should look at making this work in the coming months

[2018-05-15 17:32] indirectlylit commented on #21
targeted to 1.1.4

[2018-05-15 17:33] indirectlylit commented on #65
targeted to 1.1.4

[2018-05-16 13:42] benjaoming opened #70 "Upgrade to Python 3.6 and fix path assumptions"
When moving back to Python 3.4.3, @mrpau-richard noted in #68:

I think we should open an issue about this, the installer should be able to work with a Python environment installed anywhere.

[2018-05-16 14:08] benjaoming opened #71 "Can Python installer executables be removed from the repo?"
It's never a good idea to put binary code in an open source repository, for the following reasons:

1) It's binary, so not open source (even though its origins might be)
2) It's suspicious from a security perspective!
3) It makes the repository really big.

Currently, the footprint is >250 MB. It's actually the last reason that's my main grudge :)

1) [ ] Let's replace the Python installer with a

[2018-05-16 16:07] indirectlylit commented on #71
agreed - previously mentioned here https://github.com/learningequality/kolibri-installer-windows/pull/43#issuecomment-345487863

[2018-05-16 16:10] indirectlylit commented on #71
one benefit seems to be that the exe is signed, so checking it in might help simplify the release process: https://github.com/learningequality/kolibri-installer-windows/pull/60

[2018-05-17 08:50] mrpau-richard commented on #71
@benjaoming & @indirectlylit I also agreed to remove it. And create to script to download and bundled those installer files.

[2018-05-17 10:41] benjaoming commented on #71
Sounds good @mrpau-richard -- have updated the issue description. I can help clean up the repo history once this is solved.

[2018-05-18 00:27] indirectlylit commented on #71
if we need to keep any binary files vendored, we can use https://git-lfs.github.com/

[2018-05-18 00:27] indirectlylit commented on #71
^-- ;-)

[2018-05-18 14:25] benjaoming commented on #71
@indirectlylit if using LFS, do you know if the binary files and their history become unnecessary to download during `git clone`? The worst part of the problem is that in order to get the latest binary Python installer in the current repo, you also have to download the other 200 MB of commit history for said binary...

[2018-05-18 14:26] benjaoming commented on #71
It seems actually that the website answers that :)

[2018-05-18 14:27] benjaoming commented on #71
Then the other issue is if it becomes an obstacle for build servers because they need extra components installed.

[2018-05-23 16:58] #67 closed

[2018-05-23 20:43] mrpau-richard commented on #66
Fixed at #68, closing this.

[2018-05-23 20:43] #66 closed

[2018-05-29 03:42] #28 closed

[2018-05-29 08:57] radinamatic opened #72 "Font/Encoding issue in Spanish, with Python 3 installer"
Issue occurs with the this [installer](https://github.com/learningequality/kolibri-installer-windows/pull/68#issue-187134084) from #68, when Spanish is selected as the default installation language.

![win10 start running - oracle vm virtualbox_163](https://user-images.githubusercontent.com/1457929/40648039-ae0e6540-632d-11e8-9463-901214519ec3.png)

However, I could not reproduce the issue with th

[2018-05-31 01:22] mrpau-richard opened #73 "Document the Windows installer signing at the buildkite."
Create a documentation on how to setup the Windows installer signing at the buildkite from scratch.

[2018-05-31 08:28] mrpau-richard commented on #72
I have these `UnicodeDecodeError` error logs when using Spanish language.
[code]

[2018-06-01 16:20] indirectlylit commented on #72
@mrpau-richard would you post the complete stack trace? It's not clear to me where in the code this is happening.

[2018-06-01 16:27] indirectlylit commented on #72
FYI this looks very similar to another python3 windows issue we saw in the past: #2875

might be some clues there

[2018-06-04 02:46] mrpau-richard commented on #72
@indirectlylit here's the [server.log](https://github.com/learningequality/kolibri-installer-windows/files/2066702/server.log)

[2018-06-04 03:12] indirectlylit commented on #72
All right - @mrpau-richard sounds like the `UnicodeDecodeError` was a false clue, and this issue is caused by something else.

Would you please continue to investigate? If we can't address it this week, we'll have to roll back #68 for this release

[2018-06-07 09:12] mrpau-richard commented on #72
@indirectlylit the cause of this issue is in the Windows system. I have this [reference](https://superuser.com/questions/239810/setting-utf8-as-default-character-encoding-in-windows-7)  saying that it's not possible to set the `utf-8` on Windows 7 as default.

At Windows 10 there's a beta `Use unicode UTF-8 for worldwide language support` option, at the `administrative language setting` this fixes

[2018-06-08 19:35] indirectlylit commented on #72
fixed by https://github.com/learningequality/kolibri/pull/3769

[2018-06-08 19:35] #72 closed

[2018-06-14 03:53] mrpau-richard opened #75 "Remove the existing Kolibri installed files at the Python2.7 during upgrade."
### Observed behavior
When upgrading Kolibri from 0.9.2 to 0.10.0b2. The existing Kolibri installation files at the Python2.7 will still exist.
### Expected behavior
Remove the existing Kolibri installed files at the Python2.7 during upgrade

### Steps to reproduce
Install the kolibri 0.9.2 Windows installer.
Then upgrade it using the 0.10.0b2 Windows installer.
Navigate at the `Python2.7/Scripts`

[2018-06-28 22:22] rtibbles commented on #21
Would be good to have a nice UI alert to ask if the .kolibri folder should be deleted (but frame as - would you like to keep your data and content?)

[2018-06-28 23:14] laurenlichtman opened #76 "Issue installing Windows 10 when needing to upgrade to Python3.4.3"
I had a prior version of Kolibri installed on my Windows 10 machine. I started the installation process, proceeded with the instructions to upgrade Python and it progressed but got stalled about three quarters of the way through the installation. After waiting a while, I Xed out of the terminal that was installing Python, and then the progress bar on the installation went backwards, and then the n

[2018-06-28 23:17] radinamatic commented on #76
Rolling back when the installation is interrupted is the expected outcome.

Do you know which Kolibri version you had installed previously on that machine @laurenlichtman ?

[2018-06-28 23:21] laurenlichtman commented on #76
@radinamatic no idea - probably 0.9. Is there a way to figure that out?

[server.log](https://github.com/learningequality/kolibri-installer-windows/files/2147260/server.log)

[kolibri.log](https://github.com/learningequality/kolibri-installer-windows/files/2147261/kolibri.log)

[2018-06-28 23:28] indirectlylit commented on #76
@mrpau-richard any idea what may have happened here?

[2018-06-28 23:32] mrpau-richard commented on #76
The reason of this is the Kolibri installer can't find the `Python pip` executable. @laurenlichtman are using the Kolibri 0.10.x beta installer?

[2018-06-28 23:38] radinamatic commented on #76
Yes, she was using beta8
`INFO 2018-06-28 18:53:55,135 cli Version was 0.9.2, new version: 0.10.0b8`

[2018-06-28 23:45] mrpau-richard commented on #76
I did not reproduce this during my upgrade testing at the Kolibri 0.10.x beta Windows installer. I'll test this more again. Thanks for reporting this @laurenlichtman

[2018-06-29 19:18] indirectlylit opened #77 "'load in browser' is disabled when the server is not running"
## Current behavior

If you manually kill Kolibri, the 'Load in browser' menu option is disabled

## Expected behavior

'Load in browser' should always be enabled. If the server is not running, it should be re-started before launching the browser using the usual mechanism

-----

As a side-note, we currently poll the server to periodically check connection state. There's a chance that this might n

[2018-07-02 16:35] indirectlylit opened #78 "Kolibri might not be fully shut down during upgrade"
While investigating https://github.com/learningequality/kolibri/issues/3806, @rtibbles found evidence that the older instance of Kolibri was still running. This may have given rise to the issues seen there.

Let's investigate and make sure that Kolibri gets shut down cleanly and fully prior to upgrade

[2018-07-12 18:55] indirectlylit commented on #78
We have another error that might be related to this issue - shown on upgrade but not a fresh install:

![image](https://user-images.githubusercontent.com/2367265/42653470-64cb1f58-85ca-11e8-9a62-0663ce10515b.png)

@mrpau-richard would you mind taking a look at this issue to see whether you can reproduce evidence that when upgrading, processes from the prior installation are not fully shut down?

[2018-07-12 18:56] indirectlylit commented on #78
If shutting down is hard, we could add a check on upgrade, which looks for a running kolibri process and says to the user "Kolibri is still running. Please shut it down before upgrading"

[2018-07-12 18:56] rtibbles commented on #76
This has been seen in the wild also by UNETE. I believe it may be linked to #78, as it only happens during upgrade.

[2018-07-12 19:21] indirectlylit commented on #78
report:

[2018-07-13 03:32] mrpau-richard commented on #78
I can't reproduce this issue, I tested these upgrades from 0.7.2, 0.8.0 0.9.2 to 0.10.0 and this issue never came out. I'm using Wind 7 and Win 10 to test this.

[2018-07-13 16:34] radinamatic commented on #78
This was also not possible to reproduce during my share of integration testing on Windows VMs... 😕

Scenarios specifically included the case of leaving the older version of Kolibri up and running, and then attempt the upgrade. Same as with @mrpau-richard, the upgrade concluded without issues, with the un-corrupted DB present, with all the users and past interactions visible upon start.

[2018-07-16 16:57] indirectlylit commented on #78
I suppose there are two possibilities:

1. the hypothesis of incomplete shutdown is incorrect, and something else is causing the corrupted DBs and the errors seen in #76
2. incomplete shutdown does occur sometimes, and we haven't been able to reproduce the conditions

Since we don't know which one it is, we can continue investigating #76. However, it might be worth adding some additional checks du

[2018-07-19 20:08] #77 closed

[2018-07-26 14:52] benjaoming commented on #65
Hi @mrpau-richard - you asked me how to "generate" `options.ini` and I want to understand the question correctly:

Are you building a UI for users to configure the port differently from 8080? Or do you just want the port to be displayed in the UI and then you need to read the value?

The file is read and written to using Kolibri libraries, so it's best to invoke it this way.

But I have already pr

[2018-07-27 00:48] indirectlylit commented on #65
@benjaoming the purpose of this task is neither of these.

The goal is simpy that when an `options.ini` file with a configured port is provided, Kolibri runs on the correct port under windows.

[2018-07-27 08:41] benjaoming commented on #65
Oh okay, but the installer doesn't specify its own port anywhere (environment nor command line switches) - does it?? So could it be that the entire `options.ini` is ignored?

[2018-09-10 17:21] radinamatic opened #82 "Improve the Python installer alerts"
Encountered during testing of #81.

After the (successful) upgrade from 0.9 to 0.10, I restarted the 0.10 installer again, and got the alert that the Python 3.4+ was needed for Kolibri to work. This alert is unnecessary and potentially confusing, since at that point the **_device already had both Python 2.7.13_** (from the 0.9 installation), **_and the Python 3.4.3_** (from the previous 0.10 insta

[2018-09-10 17:52] radinamatic opened #83 "Eliminate the shortcut creation step"
Installer still has the `Create desktop shortcut` step, which is unnecessary since it is installed by default, whether the user activates the checkbox or not. We should skip this step completely, since the shortcut is the main access point for starting Kolibri.

![2018-09-10_19-30-12](https://user-images.githubusercontent.com/1457929/45314758-e5036f80-b532-11e8-8db8-8f5dabb46d99.png)

[2018-09-10 18:24] radinamatic opened #84 "Improve the signing process and installer display"
For context see this [Slack convo](https://learningequality.slack.com/messages/CB37UM23A/convo/CB37UM23A-1533577830.000452/).

1. Display the **_signed_** Windows installer on the [tagged release GH page](https://github.com/learningequality/kolibri/releases) together with the rest of the builds (PEX, ZIP...)? We now have to hunt for it on Buildkite and it can induce the confusion...

2. Configure

[2018-09-10 18:40] #75 closed

[2018-09-12 20:03] indirectlylit commented on #82
That sounds correct to me!

[2018-09-14 08:33] mrpau-richard commented on #82
@radinamatic this issue only happened in Windows 10. I can't reproduce this in Windows 7. I'll do more research about this.

[2018-09-19 02:06] radinamatic commented on #82
Confirmed that the issue is appearing only on Windows 10.
On Windows 7, the Python installer alerts do not appear at all, and upon restart the installer immediately jumps to Kolibri installation settings.

![2018-09-19_3-59-56](https://user-images.githubusercontent.com/1457929/45726806-22b26900-bbc1-11e8-9a3b-8533bedea537.png)

Good hunting to you @mrpau-richard!

[2018-09-20 03:28] #73 closed

[2018-09-21 00:20] #82 closed

[2018-10-01 05:39] mrpau-julius commented on #71
Hi @indirectlylit and @benjaoming, I'm working on this issue. Last week I installed the software that need in this task. Today I still studying the script code and soon I will post a comment here.

[2018-10-01 08:50] benjaoming commented on #21
@mrpau-richard says that there is already UI in the KA Lite removal script :)

[2018-10-01 14:12] benjaoming commented on #71
Sounds great @mrpau-julius, thanks for the update!

Not sure about the solution, but I would propose to add a step to the building of the installer where the Python installer gets downloaded, that should be sufficient.

The version of the installer should be specified such that it's easy to change it. Then we can discuss how often we should bump version of the Python installer that gets downloaded

[2018-10-03 05:54] cpauya commented on #71
I think we also need to remove the `inno-compiler` folder here:
https://github.com/learningequality/kolibri-installer-windows/tree/develop/windows/inno-compiler

[2018-10-03 13:14] benjaoming commented on #71
@cpauya - can the Docker / Wine-based building work if `inno-compiler` gets removed?

[2018-10-04 01:49] cpauya commented on #71
Hi @benjaoming - we will include the above in our checking if it's possible.  Priority is to remove the Python installers in the repo of course. :)

[2018-10-08 05:51] cpauya commented on #21
This is a miscommunication @benjaoming - we don't have a UI for this yet.  @mrpau-richard Please explain what you meant here.

[2018-10-08 10:32] benjaoming commented on #21
Ah okay, you are probably right. Looking at the KA Lite uninstall script, it doesn't seem like it has any condition about removing or not removing user data...

https://github.com/learningequality/ka-lite-installers/blob/master/windows/scripts/uninstall-ka-lite-static.bat

[2018-10-16 05:01] radinamatic opened #88 "Make sure that 0.11 installer has all the recent changes"
PR #86 by @mrpau-richard has been tested and merged, but somehow did not make it into Kolibri 0.11.0b1:

![win7 start running - oracle vm virtualbox_049](https://user-images.githubusercontent.com/1457929/46993687-dfd8a800-d110-11e8-8a69-21b01b95c1a6.png)
(step with the checkbox for the shortcut is still present)

Let's make sure that the installer version is correct and that all the merged recent

[2018-10-16 11:50] mrpau-richard commented on #88
The changes of this [PR](https://github.com/learningequality/kolibri-installer-windows/pull/86) is already on the develop branch. I think the 0.11.0b1 Windows installer still using the old version tag and need to update it when building it at the BuildKite.

[2018-10-16 12:06] mrpau-richard commented on #88
@indirectlylit I think we need to create another tag from the `kolibri-installer-windows` develop branch and update the `KOLIBRI_WINDOWS_INSTALLER_VERSION `environment variable [here](https://github.com/learningequality/kolibri/blob/c3068798664d73709dd2f9362e3c131b3f93b174/docker/env.list#L8).

[2018-10-17 16:14] indirectlylit opened #89 "gherkin stories for setting ports"
in #80 we added functionality to support setting ports in the options file

As a final step let's write some basic Gerkhin stories to document the possible expected behaviors and  add those to the Kolibri integration tests.

For example:

* given that I have or don't have an options.ini file with an alternate port set...
* given that I have or don't have the `KOLIBRI_HOME` environment variable set

[2018-10-17 16:14] #65 closed

[2019-01-21 10:44] benjaoming commented on #71
The work on this issue has stalled quite a lot because we couldn't identify a way to download and verify a file in a reliable way on both Wine and/or Windows (8 and 10). The latest suggestion was to use a 4.1 MB helper tool to download Python... but I don't think we should put a binary file in the repo to get rid of another one :)

Instead, we will assume that the file is already downloaded and ad

[2019-02-06 00:32] #84 closed

[2019-03-29 14:49] benjaoming commented on #76
@mrpau-julius could you test if this can be reproduced if the user has an older Python version installed on their system, either 3.4.2 or 2.7? Or maybe if they have a newer Python version, i.e. 3.7?

As I read the logs submitted, this isn't Kolibri crashing during the installation. It seems to be running fine.

I'm opening up a separate issue because the error message is insufficient to guide debu

[2019-03-29 14:50] benjaoming opened #94 "Insufficient error message when installer crashes"
Hi @mrpau-dev

I think it is quite critical if it's correct that the installation process crashes without any further guidance. Is there a way to log errors or capture exception information such that this error message can supply us with a more meaningful error message?

![image](https://user-images.githubusercontent.com/374612/55240909-3575bc80-523a-11e9-8310-dad8f15dbfb9.png)

[2019-04-01 09:00] mrpau-julius commented on #76
@benjaoming, I did not reproduce this issue on the latest version Kolibri 0.12.0. I'm using python 2.7 and 3.4.2, the Kolibri installer work normally. I'm proceed to test the python 3.7.
[kolibri.log](https://github.com/learningequality/kolibri-installer-windows/files/3028408/kolibri.log)
[server.log](https://github.com/learningequality/kolibri-installer-windows/files/3028411/server.log)

[2019-04-03 09:36] mrpau-julius commented on #76
@benjaoming I find that error message in python 3.7+. The reason the default folder path(`C:\Users\user_name\AppData\Local\Programs\Python\Python37-32`) is wrong, that need to change the to drive C path and create a folder Python37 (`c:\Python37`).

I use this python 3 docs to guide me. https://docs.python.org/3/using/windows.html
![image](https://user-images.githubusercontent.com/38421180/5546506

[2019-04-03 22:33] indirectlylit commented on #76
Looks like it's giving a `OSError: [WinError 6] The handle is invalid` error whenever Kolibri tries to write anything to the logs... maybe something to do with subprocesses on windows?

[2019-04-12 04:29] mrpau-julius commented on #76
Same error on windows 7 when I installed python 3.7+. I also try python 3.5+ both windows 7 and 10, no issue/error in Kolibri even in `Server.log`.

The only thing that I observed when I upgrade the python in version 3.6+ and up to 3.7+. This error message is shown on `Server.log`.

Yes there is `OSError: [WinError 6] The handle is invalid` but there's no sign of subprocess.py. So I think this is

[2019-05-02 07:44] mrpau-julius commented on #76
On python 3.6.0 version, there are different error message `OSError: [WinError 87] The parameter is incorrect`. But the error format look like the same on python 3.7.+ version and the server is forever starting.
[server.log](https://github.com/learningequality/kolibri-installer-windows/files/3137088/server.log)
![image](https://user-images.githubusercontent.com/38421180/57061745-e543ad00-6c72-11e9

[2019-05-03 17:53] indirectlylit commented on #76
There seem to be multiple issues going on here. One seems to be related to logging (`WinError`) and another seems related to databases:

[code]

cc @jredrejo @rtibbles --^

Neither of the above seem particularly related to the original discussion about `Python pip`.

@mrpau-julius @mrpau-richard would you guys like to work on analyzing the problems, or should we try to get some additional dev assi

[2019-05-03 18:00] rtibbles commented on #76
I think the OperationalError may be related to our relatively recent change to a `NullPool` in iceqube, which I can imagine might result in opening a new DB connection while a transaction was already in process. Will investigate and add some safe guards.

[2019-05-03 19:43] rtibbles commented on #76
Have added handling for the OperationalError to iceqube, here: https://github.com/learningequality/iceqube/pull/39/commits/d91af2278330f1d483000111ad4c0de3caef8841

[2019-05-10 06:23] mrpau-julius commented on #94
This error means, the `C:\Python34\Scripts\pip.exe` cannot locate. please assign me here.

[2019-05-10 19:47] ruimalheiro opened #98 "Potential alternative / improvement to the Win32 application"
Resources worth exploring if you consider removing the win32 app / VBS scripts:

- [PySimpleGUI](https://pypi.org/project/PySimpleGUI/);
- [FBS](https://build-system.fman.io/)

You may also consider writing the app on a .NET language and [compile it to native](https://docs.microsoft.com/en-us/dotnet/framework/net-native/).

Could also consider using the SQLite driver and use the DB to store the co

[2019-05-10 20:01] ruimalheiro opened #99 "Cleanup / reformatting of "fle_win32_framework.h""
As the framework was never completed 😂 , there might be some code that can be removed or refactored. Example:
[code]

The initial intention was to add the ability of building any kind of widget but since it was never required, maybe there is no point in keeping all the abstraction and instead, simplify the code to just handle the tray menus "properly". This should keep it simple to maintain.

[2019-05-10 23:08] ruimalheiro opened #100 "Investigate a new approach to handle the app configuration (CONFIG.dat)"
Currently the win32 app is responsible to create and use a file called `CONFIG.dat`.

This is handled by a basic parser that enforces a specific structure: `variable:value;` but makes the whole application harder to maintain. Can also cause parsing errors if the structure is manually changed (not sure of the side effects).

Possibly two better approaches to try would be:
- [C++ Interface for SQLit

[2019-05-11 00:31] indirectlylit commented on #98
FBS looks quite cool because it has support for cross-platform packaging.

FYI we're beginning to think that there are actually two distinct use-cases:

1. Install a server. Runs in the background, gets accessed by other clients on the network, launched on startup without user intervention.
2. Install a stand-alone Kolibri app. Runs like a normal app, possibly in e.g. Electron. Server launches and

[2019-05-11 00:33] indirectlylit commented on #100
what kind of configuration is stored?

FYI in Qt there's a cross-platform 'settings' class: https://doc.qt.io/qt-5/qsettings.html

[2019-05-11 16:07] ruimalheiro commented on #100
I think the current configuration stored in the file are related to how the app should behave. E.g:
[code]

That's interesting!

I think one requirement is also being able to edit the configuration without having to start the UI. Would be cool if stored in an human readable format.
The Win32 App could also be a command line tool with an option to lunch in GUI mode. 🤔

[2019-05-11 16:20] ruimalheiro commented on #98
Yeah, I also think it has potential!

Sounds great! Regarding the tech in point 2, I also think something like Electron / NW.js would be great as it is good cross-platform and also provide access to the notification area (both mac / windows), so you can have system tray menus etc. The only concern is the size of the files that easily go over 100mb 🤔

[2019-05-12 21:51] benjaoming commented on #94
@mrpau-julius will you find a way to detect, log and display error messages in a more general way?

This issue is not just relevant for this single error, but for all future unknown errors :warning:

[2019-05-29 02:31] cpauya opened #102 "Make the kolibri.exe runnable from any path in the Windows Command Prompt."
### Observed behavior
Cannot run the `kolibri.exe` executable from anywhere under the Windows -> Command Prompt.  Some kolibri commands like `kolibri manage...` will fail if ran outside of the Kolibri scripts folder.

### Expected behavior
The `kolibri.exe` executable must be runnable from any path in the Windows -> Command Prompt.

### User-facing consequences
Some less-technical users may get co

[2019-06-17 13:29] #88 closed

[2019-06-17 13:31] indirectlylit commented on #78
This issue is still happening in the field. Latest reported from the field:

![image](https://user-images.githubusercontent.com/2367265/59607745-e70de680-90e1-11e9-90f7-42445fa6af78.png)

![image](https://user-images.githubusercontent.com/2367265/59607762-ed03c780-90e1-11e9-899b-8192f38f4d63.png)

![image](https://user-images.githubusercontent.com/2367265/59607777-f3923f00-90e1-11e9-9679-6dc10f4ff

[2019-06-17 14:08] indirectlylit commented on #21
targeted to 1.3.2

[2019-06-25 07:07] mrpau-richard opened #104 "Notification message port did not match the Kolibri server port."
The Kolibri GUI notification url message did not match to the real Kolibri server port running. (Refer to the screenshot below)

This happened when I changed the default Kolibri server port using the `KOLIBRI_HTTP_PORT` environment variable

![Screen Shot 2019-06-25 at 2 53 25 PM](https://user-images.githubusercontent.com/8663934/60076322-dac8ff80-9759-11e9-9e97-d399fd229858.png)

[2019-06-25 09:32] cpauya opened #105 "Remove the duplicated structure (and files) of the repo."
To remove the duplicated structure (and files) of the repo, let's do the following:

- [ ] Rename `windows/` folder to `src/`.
- [ ] Move or merge the following files at the root of the repo: `README.md`, `LICENSE`, `Makefile`, `make.bat`, `.gitignore`.
- [ ] Make sure the build servers are updated for the file structure change.

---
For reference, here are the text from the original filing of the

[2019-06-25 18:48] indirectlylit commented on #102
adding to 1.3.1 milestone - this sounds like a useful upgrade

[2019-06-25 18:55] indirectlylit commented on #102
created a follow-up issue to update the docs   ---^

[2019-06-25 18:58] indirectlylit commented on #104
Looks like a follow-up from https://github.com/learningequality/kolibri-installer-windows/pull/80/files

[2019-06-25 19:02] indirectlylit commented on #105
sounds good! adding to 1.3.2 milestone so we can wrap up 1.3.1 first

[2019-06-26 00:50] mrpau-richard commented on #104
Yeah I think it is, I assigned @mrpau-julius to work on this.

[2019-06-26 06:50] mrpau-richard commented on #78
I reported this issue [here](https://github.com/learningequality/kolibri/issues/5711) to gain more information about what the cause having this error and how to solve it.

The fix of the screenshoot above is this PR #101 it's a duplication of this issue https://github.com/learningequality/kolibri-installer-windows/issues/94

I reported this issue [here](https://github.com/learningequality/kolibri/

[2019-06-27 00:01] indirectlylit commented on #78
thanks for the follow-up! I've asked @rtibbles and @kollivier why they believed that Kolibri sometimes doesn't shut down during upgrades, and the responses were:

* saw a couple screenshots from the installer that said `python.exe` couldn't be removed because it was in use
* weird post upgrade behaviors that looked like the old version was still running
* intuition

#101 will certainly help with e

[2019-06-27 00:01] #78 closed

[2019-06-27 01:59] mrpau-julius commented on #104
I found the reason for this issue on this [link](https://github.com/learningequality/kolibri-installer-windows/blob/develop/windows/gui-source/Kolibri/Kolibri.cpp#L229). the `ID_STRING_11_en` contains the caption of `Kolibri is now accessible locally at http://127.0.0.1:8080. Select Load in browser.`(you can check on this [link](https://github.com/learningequality/kolibri-installer-windows/blob/de

[2019-06-28 08:10] mrpau-julius commented on #76
I test again the python 3.6.0 in the latest version of Kolibri v0.12.5, it's run normally but the  `OSError: [WinError 87] The parameter is incorrect` still exist on [daemon.txt](https://github.com/learningequality/kolibri-installer-windows/files/3338165/daemon.txt).

[2019-06-28 14:50] indirectlylit commented on #76
Since there are multiple issues discussed in this thread, I'd recommend opening a new issue for each one and closing this to keep things focused.

[2019-07-01 09:40] mrpau-richard commented on #71
Fixed in #92 closing this.

[2019-07-01 09:40] #71 closed

[2019-07-01 09:51] mrpau-richard commented on #76
This issue is a duplicate of #94

I agree that we should create an issue that's not related to this.

[2019-07-01 15:22] benjaoming commented on #105
@cpauya I understand the intention, but could we perhaps keep the `windows/` folder (renaming it to `src/`?) and them not have the 5 said files in it (`README.md`, `LICENSE`, `Makefile`, `make.bat` and `.gitignore`).

I think that the duplicate structure should be avoided, but try to maintain the larger sub folder structure in `windows/` in a subfolder still, since it will make the root of this re

[2019-07-02 07:22] cpauya commented on #102
Fixed in https://github.com/learningequality/kolibri-installer-windows/pull/107

[2019-07-02 07:22] #102 closed

[2019-07-02 07:27] cpauya commented on #105
Good idea @benjaoming! Will rename the issue title then.  I see two tasks so far:

1. Rename `windows` folder to `src`.
1. Move or merge the following files at the root of the repo: `README.md`, `LICENSE`, `Makefile`, `make.bat`, `.gitignore`.

[2019-07-02 09:32] mrpau-richard opened #194 "Kolibri errors under Windows Python 3.6 and 3.7"
### Observed behavior
#### Kolibri installation on Windows Python 3.6.
The Kolibri server can start and run but it has an `OSError: [WinError 6] The handle is invalid` error on the [daemon.txt](https://github.com/learningequality/kolibri/files/3349274/daemon.txt) file log

This was also reported by @mrpau-julius [here](https://github.com/learningequality/kolibri-installer-windows/issues/76#issueco

[2019-07-02 09:37] mrpau-richard commented on #76
I reported the Python `OSError ` errors [here](https://github.com/learningequality/kolibri/issues/5733)

The PR #108 wil fix this issue. closing this.

[2019-07-02 09:37] #76 closed

[2019-07-02 13:33] benjaoming commented on #105
Thanks @cpauya

[2019-07-05 04:33] mrpau-richard commented on #89
fixed in [#5703](https://github.com/learningequality/kolibri/pull/5703), closing this.

[2019-07-05 04:33] #89 closed

[2019-07-09 02:20] mrpau-julius opened #112 "Can `kolibri.exe` executable be removed from the repo?"
It's not a good idea to put binary files in the open-source repository.

Make an alternative way on how to add or auto-generated during build the `kolibri.exe` executables.

The open-source repository must contain a text or image file. not a binary.

Other details can see on this link: https://github.com/learningequality/kolibri-installer-windows/pull/110

[2019-07-09 03:09] mrpau-richard opened #113 "Infinite "server is starting" notification"
When I set the `KOLIBRI_HTTP_PORT` environment variable with non numeric characters and I run the Kolibri GUI, it will have an infinite `the server is starting` notification.

This also happened when a `port 8080` is occupied or not available.

[2019-07-09 20:02] indirectlylit commented on #113
We actually see this scenario a lot, and users don't have any easy way to see what the underlying error is. The problem is actually very similar to #94 in that users don't get any information.

Can we detect when the Kolibri process exits with an error?

If so, we should detect that and switch from a transient "Server is starting" message to a Kolibri error message. Preferably, it would look somet

[2019-07-11 02:36] cpauya commented on #94
Fixed in https://github.com/learningequality/kolibri-installer-windows/pull/108

[2019-07-11 02:36] #94 closed

[2019-07-11 02:44] cpauya commented on #104
Fixed in https://github.com/learningequality/kolibri-installer-windows/pull/110

[2019-07-11 02:44] #104 closed

[2019-07-11 03:06] cpauya commented on #21
We already use InnoSetup (with GUI) to uninstall Kolibri in Windows: https://github.com/learningequality/kolibri-installer-windows/blob/develop/windows/installer-source/KolibriSetupScript.iss

Some tasks remain like:

1. Confirming from the user whether to remove (or not) the Kolibri data folder
1. Removing the environment variables

[2019-07-14 14:16] benjaoming commented on #112
Is it possible to build `kolibri.exe` in a Wine environment?

[2019-07-16 14:28] cpauya opened #118 "Customize the Kolibri uninstaller."
This is a follow-up to the ["Update the uninstall script"](https://github.com/learningequality/kolibri-installer-windows/issues/21) issue.

It [has been discussed](https://github.com/learningequality/kolibri-installer-windows/pull/114#issuecomment-511317109) to add the following enhancements to the Kolibri Uninstaller:

1. Customise the confirmation dialog as per [Kolibri uninstall text](https://d

[2019-07-18 10:51] #21 closed

[2019-07-22 00:58] radinamatic opened #119 "Taskbar notification without IP:port on Windows 7"
Testing the built asset from https://github.com/learningequality/kolibri/pull/5762 in an upgrade scenario from 0.9.2 on Windows 7. The upgrade process apparently finishes without issues, and the server is starting correctly, only the taskbar notification in not picking up the server IP:port value.

![no-port](https://user-images.githubusercontent.com/1457929/61599759-2b822a00-ac2c-11e9-94de-9773f4

[2019-07-22 03:48] radinamatic commented on #119
It seems to be a Win7 issue only: I repeated the exact upgrade scenario on Windows 10, and the IP:port is correctly reported in the taskbar notification.

[2019-07-22 07:20] mrpau-richard commented on #119
@radinamatic I can't reproduce this issue on Windows 7 after I upgrade from 0.9.2. Did the issue still exist on the fresh installation?

![Screen Shot 2019-07-22 at 3 19 01 PM](https://user-images.githubusercontent.com/8663934/61613505-15a84f80-ac94-11e9-99b4-0abfc6f19f72.png)

[2019-07-22 21:56] radinamatic commented on #119
@mrpau-dev As we discussed this morning on our call, I repeated the test case on a fresh (non-upgraded) install, and the IP:port was correctly displayed.

The error is inconsistent, as when I fired up the same VM this afternoon, taskbar notification was correct. However, if the user changes the port in the `option.ini` file, or removes the file completely from the `.kolibri` folder, the error reap

[2019-07-23 00:54] indirectlylit commented on #113
here are four examples of people running into this:

* https://community.learningequality.org/t/kolibri-error-message/868
* https://community.learningequality.org/t/my-kolibri-doesnt-startup-it-keeps-on-saying-the-server-is-starting-please-wait/1240
* https://community.learningequality.org/t/help-pls-kolibri-disconnecting-and-error-the-server-is-starting-please-wait/1054
* https://community.learni

[2019-07-23 20:10] indirectlylit commented on #118
Should this have a milestone? Is it close-able?

[2019-07-24 05:43] mrpau-richard commented on #119
@radinamatic the VM that you uploaded was corrupted when I run it. I think it's better if you upload the `.ova` file version.

[2019-07-25 17:34] radinamatic opened #122 "Unicode error when the installation wizard is in Spanish"
Reported by @jredrejo, when the OS is in Spanish, or the user selects Spanish as the language for the installation, possibly related to #34:

![image](https://user-images.githubusercontent.com/1457929/61895437-f539f880-af12-11e9-9162-c4862e544a4d.png)

cc @mrpau-richard @cpauya

[2019-07-25 18:39] kollivier commented on #122
One possibility is that this is because the Languages translation files do not have the UTF-8 BOM. Sometimes the BOM is what apps use to distinguish between Unicode and ASCII text, so without it InnoSetup may be interpreting the language files as ASCII. This is just a theory, but the above issue does look like InnoSetup is not reading the translations in as Unicode.

[2019-07-25 20:53] indirectlylit commented on #122
thanks - flagged @mrpau-dev in Slack https://learningequality.slack.com/archives/CAUTAU14Y/p1564087596013700

[2019-07-26 09:28] cpauya commented on #122
We found the [source commit](https://github.com/learningequality/kolibri-installer-windows/commit/7c78d9e0bf99d027c08619aae438eb59b37d55af) for the "corrupted" `Languages\*.isl` files.  We think it's the settings in the VS Code editor used by @mrpau-julius under Windows during devt of the error logging feature a few months ago.  So sorry about these, thanks much for reporting the issue.

We've rev

[2019-07-26 16:32] indirectlylit opened #125 "migrate translation files to UTF-8"
We've had issues with encoding problems a couple times, e.g. #122, #34

Currently, our files are encoded using [Windows-1252](https://en.wikipedia.org/wiki/Windows-1252) a.k.a. ISO-8859-1.

In order to standardize with the rest of our codebase and avoid encoding errors, we should switch to UTF-8.

See http://www.jrsoftware.org/ishelp/topic_unicode.htm

[2019-07-26 17:08] #122 closed

[2019-07-26 17:19] indirectlylit opened #128 "translate installer into all languages supported by Kolibri 0.13.0"
During our translation push for 0.13.0, let's also update the windows installer languages

[2019-07-29 21:27] radinamatic opened #200 "Open setup wizard in the OS language"
### Observed behavior
I thought we already had this issue filed at some point, but I'm unable to find it.

Post-install Kolibri setup wizard opens in English irregardless of the user's OS language. Since we advanced the work on the Kolibri default language setup, maybe this could be a good addition. Namely, the **setup wizard should open in the default language user has on their OS**, and default

[2019-07-29 23:08] radinamatic commented on #119
Ok, exported the [VM as appliance](https://drive.google.com/open?id=1gbvtimPm4NyicyPH3lT3xjqyoBNw_fJW) (`.ova`)! @mrpau-richard

[2019-07-30 08:25] mrpau-richard commented on #119
@radinamatic the VM worked on me now. But when I test Kolibri GUI notification it display the right port url after the Kolibri server started.

![Screen Shot 2019-07-30 at 4 14 16 PM](https://user-images.githubusercontent.com/8663934/62113056-7cf27f00-b2e6-11e9-952e-ab435866ad23.png)

[2019-07-30 08:32] radinamatic commented on #119
Great! :tada:

Now stop the server, put the `options.ini` file you see on the Desktop inside the `Users/IEUser/.kolibri` folder, restart the server. and observe closely the notification message. In my case **the first restart after the port change** always had this issue appearing.

[2019-07-30 09:13] mrpau-richard commented on #119
Same output when I used the `option.ini` file from the desktop.
![Screen Shot 2019-07-30 at 5 10 45 PM](https://user-images.githubusercontent.com/8663934/62116753-4cfaaa00-b2ed-11e9-86c8-217f75d47260.png)

[2019-07-30 09:48] radinamatic commented on #119
Even when you move the `options.ini` away, and restart the server again?

[2019-07-31 05:16] mrpau-richard commented on #119
Yup, it will still display the port at the notification.

[2019-07-31 14:29] cpauya commented on #119
After trying a few times between the following:

1. Stop Kolibri, copy `options.ini` from Desktop in the `c:/Users/IEUser/.kolibri`, launch Kolibri
1. Stop Kolibri, delete `c:/Users/IEUser/.kolibri/options.ini`, launch Kolibri
1. Copy `options.ini` from Desktop in the `c:/Users/IEUser/.kolibri`, Stop Kolibri, launch Kolibri after a few seconds.
1. Delete `c:/Users/IEUser/.kolibri/options.ini`, Sto

[2019-07-31 17:53] radinamatic commented on #119
Glad I was not imagining this issue, phew... 😌

[2019-08-02 01:08] cpauya commented on #125
Maybe there's an extension in VS Code to check encoding of Windows sources (specially the `Languages\*.isl` files)?  /cc: @mrpau-julius

[2019-08-02 02:22] indirectlylit commented on #125
I don't think this is an editor configuration issue. From the Inno docs it says:

We're using Inno Setup 5.5.9 Unicode. [According to this](https://stackoverflow.com/questions/40420445/how-to-edit-translate-an-inno-setup-isl-file) in version 5.x, to use unicode we need to use `*. islu` files instead of `*.isl`.

So I believe we either need to switch file extension or upgrade.

[2019-08-02 05:09] cpauya commented on #125
Yup - we were already using the [unicode version (innosetup-5.5.9-unicode.exe) of InnoSetup 5.x](http://files.jrsoftware.org/is/5/) and our VS Code encoding already defaults to `UTF-8`.

Using `*.islu` is very indicative - so yes, we must use `*.islu` as extension instead of `*.isl` for the project.

Reference: [Is it safe to use .islu translation files in Inno Setup for all languages?](https://st

[2019-08-07 09:03] mrpau-julius commented on #125
I observe, there is an issue in VS Code encoding that cannot display the Unicode properly.

Below you can see the behavior of VS Code encoding has a symbol of this character �, Notepad and Inno setup are display the language correctly.
![image](https://user-images.githubusercontent.com/38421180/62600625-eba48d80-b921-11e9-9d1d-6de8e8c8e92c.png)

After I save some changes in VS Code and open again

[2019-08-09 01:33] cpauya commented on #125
@mrpau-julius Ouch, good find!  Let's not use VSCode for the meantime and instead use SublimeText or the InnoSetup editor itself.

@indirectlylit Here's our over-all approach to this issue:

1. Convert language files from `*.isl` to `*.islu`.
1. Attempt to upgrade from InnoSetup 5.5.9 to latest [InnoSetup 6.0.2](http://www.jrsoftware.org/isdl.php#stable)
    * This requires that we change the cont

[2019-08-09 04:46] mrpau-julius commented on #125
@cpauya  I converted all the languages to `*.islu` and test it. I observe that the `Default.isl` can't convert to `*.islu`. I think the `Default.isl` must be in the standard extension.
![image](https://user-images.githubusercontent.com/38421180/62753283-88d80100-ba9d-11e9-8232-e67525fc9405.png)

I built successfully the installation and test in Windows 7. I check all the languages and found the `G

[2019-08-09 08:09] mrpau-julius commented on #125
I think the Inno setup 6, fix this issue by using the encoding type of `UTF-8 with BOM` but not the `UTF-8` only.
In above that I comment, the `Greek.isl` is corrupted. I tried to copy in `v1.3.0 tag repo` and paste it to my Code editor(Sublime text 2) and save it with encoding type `UTF-8 with BOM` and it works.
![image](https://user-images.githubusercontent.com/38421180/62763781-f183a580-babe-11

[2019-08-12 02:50] mrpau-julius opened #131 "Greek language is corrupted"
When I install the Kolibri at Windows 7 and set the Language into Greek, the display is corrupted.

Refference : #125
![image](https://user-images.githubusercontent.com/38421180/62843656-0bef9600-bcee-11e9-99bb-103d1601df47.png)

[2019-08-12 03:17] mrpau-richard opened #132 "Close the startThread process"
We did not close the [startThread](https://github.com/learningequality/kolibri-installer-windows/blob/049f5b7d9d87f07043e2e8b1ab20522f1eabf6a3/windows/gui-source/Kolibri/fle_win32_framework.h#L810) process after using it. The `CloseHandle` call is commented at the last line of the function.

[2019-08-12 03:23] mrpau-richard opened #133 "Handle the Kolibri GUI errors"
We still don't have a proper way to handle those Kolibri GUI errors. Sample on this [line](https://github.com/learningequality/kolibri-installer-windows/blob/049f5b7d9d87f07043e2e8b1ab20522f1eabf6a3/windows/gui-source/Kolibri/Kolibri.cpp#L143)

[2019-08-13 05:43] cpauya commented on #131
Glad that you spotted this issue.

Please comment how you detected the issue and the tools/software you used so we can document it and hopefully prevent such issue from happening in the future.

I hope somebody who knows Greek can help us verify. 😺

[2019-08-13 05:46] cpauya commented on #131
Also is this affected by this [previous commit (the link is a diff)](https://github.com/learningequality/kolibri-installer-windows/commit/d6129f85e841d02808f334b89bfda9cf63e29c9e#diff-227e84e45ddeeb4c7c7777fc715f367d)?

[2019-08-13 08:16] mrpau-julius commented on #131
@cpauya yes it is. Because in previous I'm using VS Code and add some changes string. I've not expected the UTF-8 in VS Code has an issue and not aware of that.

[2019-08-15 13:33] mrpau-julius commented on #125
If the existing language is no longer in use, set language CodePage to 0. To detect the language’s file, there’s a special `*.islu` extension to use and can encode the file as Unicode.

 I found out that the ‘LanguageCodePage’ is equivalent to ‘CodePage’. A code page is a character encoding and as such it is a specific association of a set of printable characters and controls characters with uniqu

[2019-08-16 00:18] #131 closed

[2019-08-16 03:05] cpauya opened #136 "Coding style inconsistencies"
It's always good to keep our coding style consistent.

**Sources affected**

* [Kolibri.cpp](https://github.com/learningequality/kolibri-installer-windows/blob/develop/windows/gui-source/Kolibri/Kolibri.cpp)
* [fle_win32_framework.h](https://github.com/learningequality/kolibri-installer-windows/blob/develop/windows/gui-source/Kolibri/fle_win32_framework.h)

**Some issues with current code base**

[2019-08-21 06:24] #125 closed

[2019-08-22 05:56] #113 closed

[2019-08-22 21:00] indirectlylit opened #137 "update installer to behave better in NComputing environments"
we've had a couple instances now of people using [NComputing setups](https://www.ncomputing.com/products/vSpace/vSpace%20PRO) and running into problems.

ref: https://learningequality.slack.com/archives/C0LKF6TRD/p1566499868052700

from @jamalex

[2019-08-23 10:10] benjaoming commented on #136
Would perhaps be most sustainable to find a simple C++ linting tool that can be automated with pre-commit hooks?

Using https://pre-commit.com, you could create a hook. The project expects a reference to a git repository, which I assume can be the current local one (path: `.`).

You could then write a script that invokes cpplint for all files contained in the changeset within the set of known C++

[2019-08-23 11:12] cpauya commented on #136
+1 Good one @benjaoming - For a "quick" solution, I also found out that VS Code has the `Format Document` feature (I just started using VS Code last week).  This should also help achieve code consistency.

<img width="2133" alt="Screenshot 2019-08-20 20 43 28" src="https://user-images.githubusercontent.com/175580/63588495-3f2d0180-c5d9-11e9-832c-2e77519b4d2d.png">

[2019-08-23 13:15] benjaoming commented on #136
@cpauya I don't think that local code formatters are a good idea, although this is a project with a small circle of contributors.

If you want consistency, you would have to script it and enforce it somehow. Git pre-commit hooks can be a good start, you could also add Travis CI.

[2019-08-23 13:17] benjaoming commented on #136
Actually, you could also write a `.travis.yml` that simply said:

[code]

[2019-08-23 14:18] cpauya commented on #136
Ah good point @benjaoming - since other possible contributor/s may not follow the same C++ format. 😺

[2019-08-24 00:15] indirectlylit commented on #136
Let's stick to quick solutions!

There's a fair chance we'll want to deprecate the C++ GUI code in favor of something more like what we're doing with the mac app for the next major upgrade:

https://github.com/learningequality/kolibri-installer-mac

[2019-08-27 03:47] mrpau-richard commented on #105
fixed in #117  closing this.

[2019-08-27 03:47] #105 closed

[2019-11-14 23:56] indirectlylit opened #142 "typo in error text"
![image](https://user-images.githubusercontent.com/2367265/68905806-6bf04100-0710-11ea-82c1-561af46d2d15.png)

"Failed to remove startup schortcut." should be "Failed to remove startup shortcut."

[2019-11-21 23:19] radinamatic opened #143 "v0.13.0-beta1 installer on Windows not working"
Download from:
https://github.com/learningequality/kolibri/releases/tag/v0.13.0-beta1

Tested on Windows 7 VM:

- when trying to upgrade from 0.10, no errors reported during the installation, and 0.10 keeps loading:

   ![windows-not-updating](https://user-images.githubusercontent.com/1457929/69384605-00ccde80-0cbd-11ea-85a0-da774fe26b26.gif)

- when trying a fresh install, error alert appears, bu

[2019-11-22 09:52] mrpau-richard commented on #143
The cause of this issue is that the v0.13.0-beta1 `whl` has an error during the pip installation.
[code]
This error can only reproduce in Windows environment.

[2019-11-22 19:03] indirectlylit commented on #143
@rtibbles any insight on why this might be happening?

` FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\MrPau\\AppData\\Local\\Temp\\pip-build-xdo4xxb_\\kolibri\\kolibri/dist/kolibri_exercise_perseus_plugin/static/kolibri_exercise_perseus_plugin.exercise_perseus_render_module/kolibri_exercise_perseus_plugin.exercise_perseus_render_module-extra-widgets-1.2.2a3.js'`

[2019-11-22 22:48] benjaoming commented on #143
The `\\` mixed with `/` is a bit suspicious... when do you get this error?

And do you find this file on the disk -- and if so: where?

[2019-11-22 22:50] rtibbles commented on #143
It looks like this is the whl file being unpacked to a temporary location before install, right? But yes, the mixture of Windows and non-windows path separators is highly suspicious.

[2019-11-23 11:52] radinamatic commented on #143
@mrpau-richard @mrpau-julius Shouldn't the log files related to errors during the installation on Windows be saved on the Desktop? In the case above it indicates the home folder, but that one is not even created during install.

[2019-11-23 17:13] rtibbles commented on #143
I suspected that the additional `.` in file and folder names might be the cause of this, but from testing it does not appear to be.

[2019-11-23 17:18] rtibbles commented on #143
*sigh* This appears to be a filename length issue.

[2019-11-23 17:20] rtibbles commented on #143
Or, rather, a total filepath length?

[2019-11-23 17:29] kollivier commented on #143
Ah, yup, limit is 255 chars. Looks like you can turn the limit off in newer Windows, but I suspect for the whl itself we should probably find ways to just reduce the total path length. :/

https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file?redirectedfrom=MSDN#maximum-path-length-limitation

[2019-11-23 17:29] rtibbles commented on #143
We appear to have hit this issue: https://github.com/pypa/pip/issues/3055

[2019-11-23 17:44] rtibbles commented on #143
Have worked around this locally by setting a much shorter temporary directory path before executing the pip install step. Will submit a PR to do this during our installation.

[2019-11-23 18:24] rtibbles commented on #143
OK - actually not entirely sure how to handle this from Inno Setup Scripts - if it was a batch file, I would use:
[code]

@mrpau-richard any ideas how to temporarily set the `TMP/TEMP` environment variables just while we're installing the whl file? The above batch script uses `setlocal` which just sets the variable for the purposes of the batch file but gets reset after.

[2019-11-23 19:38] rtibbles commented on #143
The alternative solution is probably a bit simpler - simply shortening the file names with this PR: https://github.com/learningequality/kolibri-exercise-perseus-plugin/pull/209

@indirectlylit this would change translation file names.

[2019-11-23 19:56] kollivier commented on #143
@rtibbles It also solves the problem for anyone using the whl file on Windows, not just the Windows installer, so I would vote for the rename!

[2019-11-25 07:29] mrpau-richard commented on #143
I created a [PR](https://github.com/learningequality/kolibri-installer-windows/pull/144) for this @rtibbles , I used this command `set TEMP=HOMEDRIVE` to set temporary variable during the whi file installation only.

[2019-11-25 17:29] #143 closed

[2019-11-25 17:46] indirectlylit commented on #143
created a `v1.3.5-beta1` tag and a v1.3.5 milestone:

* https://github.com/learningequality/kolibri-installer-windows/releases/tag/v1.3.5-beta1
* https://github.com/learningequality/kolibri-installer-windows/milestone/11

Updated PR to point at beta1 tag:

https://github.com/learningequality/kolibri/pull/6136

[2019-12-17 03:21] indirectlylit opened #145 "finalize windows installer v1.3.5"
steps:

1. Integrate the [latest translations from crowdin](https://crowdin.com/project/kolibri-windows-app/settings) into `develop`
2. Merge `develop` to `master`
3. Release 1.3.5 as [described in the readme](https://github.com/learningequality/kolibri-installer-windows#steps-for-making-windows-installer-releases)
4. Close the [1.3.5 milestone](https://github.com/learningequality/kolibri-installe

[2019-12-19 07:03] mrpau-richard commented on #128
Fixed in #146 closing this.

[2019-12-19 07:03] #128 closed

[2019-12-19 07:04] mrpau-richard opened #148 "Update the Crowdin translations"
Update the Crowdin with this [.po](https://github.com/learningequality/kolibri-installer-windows/blob/develop/src/installer-and-application-po-files/kolibri-application.po) file

[2019-12-19 16:20] indirectlylit commented on #145
As far as I can tell, the changes from `develop` were never merged to `master` before tagging the release:

![image](https://user-images.githubusercontent.com/2367265/71189793-3cb18000-2238-11ea-9bfe-ba365cf75b1b.png)

[2019-12-19 16:34] indirectlylit commented on #145
okay, I merged develop to master, deleted the existing tag, and re-tagged.

You may need to delete your local tag to properly update

![image](https://user-images.githubusercontent.com/2367265/71190905-3d4b1600-223a-11ea-9d78-5e211659a4d9.png)

[2019-12-19 16:34] #145 closed

[2019-12-20 04:02] mrpau-richard commented on #145
This is my fault, I thought I pushed it to LE GIthub repo but it was only in `mrpau` I did not double check it before creating a release.

[2019-12-20 15:14] indirectlylit opened #150 "some installer strings not translated"
reported by @radinamatic

![image](https://user-images.githubusercontent.com/2367265/71264199-65994a00-22f8-11ea-94ce-937f90acb05e.png)

![image](https://user-images.githubusercontent.com/2367265/71264204-68943a80-22f8-11ea-93d3-6ed2d41139a7.png)

[2019-12-20 16:31] indirectlylit commented on #145
no harm done!

[2020-01-31 16:28] indirectlylit opened #151 "error message refers to non-existent file"
The message refers to `kolibri.log`:

![image](https://user-images.githubusercontent.com/2367265/73556009-795dc300-4403-11ea-9ae6-9054e5dc6526.png)

However the files changed somewhat recently to `kolibri.txt` and `debug.txt` as described here:

https://kolibri.readthedocs.io/en/latest/manage/get_support.html#locate-kolibri-log-files

Let's update the ~docs~ modal to reflect the new log files.

[2020-01-31 16:30] indirectlylit opened #152 "kolibri fails to start"
tracker issue for https://community.learningequality.org/t/kolibri-failed-to-start-additional-information-can-be-found/1394

[2020-02-02 09:42] benjaoming commented on #151
Shouldn't it be the Windows alert window that gets an update?

[2020-02-02 20:39] indirectlylit commented on #151
yes sorry - that was a typo

[2020-02-03 09:06] mrpau-richard commented on #152
The cause of this issue is the `options.ini` filled with incorrect values. I reported another issue [here](https://github.com/learningequality/kolibri/issues/6513) to fix this

[2020-02-12 18:02] #151 closed

[2020-02-12 18:03] #142 closed

[2020-03-12 08:24] mrpau-richard opened #154 "Kolibri Installer failed to install"
During the Windows installation there is a possibility that the `pip.exe` did not install in Python or it was deleted by an antivirus. To fix this validate the `pip.exe` path if it exist before installing the Kolibri.

The  deleted `pip.exe` will not reinstall at the old Python34 path installation, unless manually uninstall the Python34 at the control panel  and delete the `C:\Python34'(if this fo

[2020-03-12 16:17] benjaoming commented on #154
Great observation @mrpau-richard -- just want to understand clearly: It means that `pip.exe` is copied into its location unconditionally (regardless of whether it already exists) by the Kolibri installer? And that this mechanism can trigger an antivirus program to detect and delete it?

[2020-03-12 16:39] benjaoming commented on #154
Sorry nevermind, I didn't see there had been a conversation about it on Slack. Seems like we have had similar issues with `python.exe`

https://kolibri.readthedocs.io/en/latest/manage/get_support.html#antivirus

[2020-03-26 09:02] #154 closed

[2020-03-27 06:13] cpauya commented on #148
Setting this to milestone 1.3.7

[2020-03-27 06:28] cpauya commented on #152
Issue was not reproduced from our side and the user who reported the issue did not reply yet.

We are moving this to 1.3.7 milestone until we get more information how to reproduce this.

[2020-04-20 07:51] intelliant01 opened #161 "Mixed experience for KOLIBRI_SCRIPT_DIR addition to Path variable"
**Test Environments:**

I have executed this test on at least two Windows 10 systems.

1. System 1 - Kolibri has been upgraded on this system all the way to 0.13.2. It had Kolibri installed  even prior to 0.12.6 i.e. before the Windows installer enhancement of #102 was released.
2. System 2- Just installed Kolibri 0.13.2 for the first time on this.

**Experiences:**

System 1 - `kolibri manage` co

[2020-04-21 07:07] cpauya commented on #161
Thanks for reporting this - we will look into it.

[2020-04-21 08:33] mrpau-richard commented on #161
I successfully reproduced this issue and I will work on it. Thanks for reporting this @intelliant01

[2020-04-27 09:11] benjaoming opened #163 "Python build tools should use Python 3"
The helper scripts in `src/python-scripts` should not require Python 2.7 (README indicates this) - hopefully this is just a matter of trying them out on Python 3 and updating README.

[2020-04-27 09:17] cpauya commented on #163
I agree, we need to test this out now that [Python 2.7.18 is the last release for Python 2](https://pythoninsider.blogspot.com/2020/04/python-2718-last-release-of-python-2.html).

/cc: @mrpau-richard

[2020-04-27 09:52] benjaoming opened #164 "Align translation workflow with other repos (+CrowdIn)"
Pending further decision: This was initially discussed with the assumption that translation happened on CrowdIn, which it currently doesn't (but have?).

Suggestion from meeting:

* Update steps of the README to live in Make targets. See: kollibri-docs, kolibri and kolibri-server for patterns

* Potential make targets:

[code]

  Note that kolibri-server contains the latest pattern for uploading/d

[2020-04-28 00:16] indirectlylit commented on #164
huh?

crowdin project here: https://crowdin.com/project/kolibri-windows-app

[2020-04-28 07:24] radinamatic commented on #164
@indirectlylit Issue refers to the strings within the Windows installer, not the Kolibri taskbar app (``Kolibri.exe``), that already has the strings on Crowdin.

There used to be another project on Crowdin previously, containing the Windows installer strings, that got lost _in translation_ (sic!) at some point, and I do hope the translations to Spanish are still somewhere in the TM.

Installer str

[2020-04-28 08:05] radinamatic commented on #164
@indirectlylit This is the full set of strings for the installer:
https://github.com/learningequality/kolibri-installer-windows/pull/165

[2020-04-28 10:12] benjaoming commented on #164
On the bright side, those many rarely exposed strings probably don't change much, so we can make a list of strings to ignore when creating .po files with the `extract-isl-stings.py` script.

Or extract them into a separate `low-priority.po` file (but I think translators would translate anyways to get to 100%).

[2020-04-28 18:13] indirectlylit commented on #164
Ah yes, this rings a bell. These were in fact uploaded to the Windows crowdin project at one point.

During the 0.13 translation push, I had to delete them because they completely threw off our estimates to external translators (we had budgeted about 100 words total for the Windows project).

Agreed that if possible, we should identify the strings we actually need and systematically get just those

[2020-05-02 03:37] intelliant01 opened #166 "Uninstaller leaves behind atrefacts"
### Observation

Uninstall leaves behind the `C:\Python34` directory and the related `KOLIBRI_SCRIPT_DIR`'s value  in the System Path variable.

### Expected Behaviour

Ideally, a user must be notified of the same during uninstallation as is notified to install Python during installation. One should be given an option to auto-clean the installed Python because the user may actually be not using it

[2020-05-02 03:51] intelliant01 commented on #166
This may be considered along with #118 .

[2020-05-07 12:47] comradekingu commented on #164
Is it just me that finds using a closed source and lackluster tool that employs tracking and spying doesn't help

[2020-05-07 13:06] benjaoming commented on #164
@comradekingu This ticket aims to just align the practices of a very small set of translations, but there are many more translations and translators in the Kolibri repository itself. CrowdIn is a platform that supports creation of Open Source, but isn't open-source itself? It's a bit like having code on Github? I'm pretty sure that it's out of reach for what the i18n coordinators would want to do,

[2020-05-07 13:31] comradekingu commented on #164
@benjaoming It isn't like having code on GitHub, since developers mostly interact with code in other ways. The rest of that argument favors other platforms, but those aren't as good comparatively. Crowdin says it supports Open Source, but it is actually not true, and more than anything the other way around. Crowdin isn't gratis for libre software projects unless they are non-commercial in terms of

[2020-05-11 12:50] benjaoming opened #167 "Automate extraction of translation strings"
In the future, we should be able to quickly extract new messages for translation with `extract-isl-stings.py`.

It would need an update to implement what seems to manual changes in #165

[2020-05-12 13:17] radinamatic commented on #148
(picking up the conversation from #165 )

@cpauya @mrpau-richard Any progress on extracting the existing official translations from InnoSetup, so we can make them available for proofreading on our Crowdin?

From what I see on the site with [official translations](https://jrsoftware.org/files/istrans/), we could reuse Italian and Portuguese (Brazil), but the rest is probably too old and unmaintaine

[2020-05-13 11:46] mrpau-richard commented on #148
@radinamatic I created a PR for this here https://github.com/learningequality/kolibri-installer-windows/pull/168

[2020-05-14 11:32] cpauya opened #169 "Cannot build the projects after checkout and following the build instructions."
### Observed behavior
I cannot build these projects after checkout of the repo and following the build steps to [Run the project using Inno Setup for development](https://github.com/learningequality/kolibri-installer-windows#run-the-project-using-inno-setup-for-development).

1. Visual Studio project (Kolibri GUI app): `\src\gui-source\Kolibri.sln`
1. Inno Setup project (Kolibri installer): `\src\

[2020-05-19 16:08] indirectlylit commented on #169
thanks!

as a stop-gap, I've added a quick note to the readme referencing this issue: 3aa0c603d18442e0c6e989bc6b01a440c827d979

[2020-06-11 09:09] #161 closed

[2020-06-11 09:14] mrpau-richard commented on #152
Let's close this issue for now and reopen it when reproduce the issue.

[2020-06-11 09:14] #152 closed

[2020-06-11 09:17] mrpau-richard commented on #70
We already upgraded to Python 3.6 on this [PR](https://github.com/learningequality/kolibri-installer-windows/pull/170), closing this

[2020-06-11 09:17] #70 closed

[2020-06-17 04:56] radinamatic opened #171 "ExtractTemporaryFile: The file "python-3.6.8-amd64.exe" was not found"
[New Windows installer](https://buildkite.com/organizations/learningequality/pipelines/kolibri-python-package/builds/1130/jobs/0bb4c2b3-603e-47eb-9235-eddcfd2a3938/artifacts/11fa981b-e061-49cc-98bc-190f268a1f1b) with Python 3.6 not working :confused:

### Windows 7
![Win7 (new start)  Running  - Oracle VM VirtualBox_587](https://user-images.githubusercontent.com/1457929/84856488-22c9ec00-b067-11ea

[2020-06-17 05:21] cpauya commented on #171
Yes, this build for the Windows installer doesn't work.  It still uses Python 3.4 based on the logs:

<img width="1128" alt="Screen Shot 2020-06-17 at 1 19 24 PM" src="https://user-images.githubusercontent.com/175580/84858225-57589a80-b09d-11ea-84a1-d776424778b7.png">

Thanks for the report @radinamatic - will look into this ASAP.

[2020-06-17 12:10] cpauya commented on #171
Hi @radinamatic - I've tested the latest BuildKite artifact from the merged PR of @mrpau-richard  at https://buildkite.com/learningequality/kolibri-python-package/builds/1137 and it works now.
<img width="739" alt="Screen Shot 2020-06-17 at 7 14 09 PM" src="https://user-images.githubusercontent.com/175580/84896395-7889ad00-b0d6-11ea-9175-d99c9eaf50a0.png">

[2020-06-18 01:48] radinamatic commented on #171
All good on both W7 & 10, let's get this show on the road! :100:

![Win7 (new start)  Running  - Oracle VM VirtualBox_598](https://user-images.githubusercontent.com/1457929/84968264-5d3e9200-b116-11ea-8a97-081687bc0f72.png)

![Win10 (ITA)  Running  - Oracle VM VirtualBox_599](https://user-images.githubusercontent.com/1457929/84968260-5b74ce80-b116-11ea-9c44-763173350626.png)

Fixed in learningequa

[2020-06-18 01:48] #171 closed

[2020-06-24 00:40] indirectlylit opened #176 "Window installer does not open Kolibri setup wizard in the OS locale"
regression from 0.13, where it used to work

reported by @radinamatic

[2020-07-06 05:53] cpauya opened #178 "Make the Kolibri Setup Wizard (in the browser) use the language that the user selected during installation."
Make the Kolibri Setup Wizard (in the browser) use the language that the user selected during installation.

As of [v1.4.0-beta2](https://github.com/learningequality/kolibri-installer-windows/releases/tag/v1.4.0-beta2) - this is not existent.

Options for doing this:

1. pass a variable from installer to Kolibri?
1. environment variable set by the installer that Kolibri can use?

as reported by @r

[2020-07-21 03:05] mrpau-julius opened #181 "python 3.4 not automatically uninstalled after upgraded"
### Observed behavior

I saw two python folder in `C:` drive (Python34 and python36), Which confuse to the users which one is currently running.
![image](https://user-images.githubusercontent.com/38421180/88008342-ef92d680-cac4-11ea-827a-7eeac23e2802.png)

And python 3.4 path still exists in the environment variables.
![image](https://user-images.githubusercontent.com/38421180/88008446-236dfc00-ca

[2020-07-21 06:03] mrpau-julius commented on #181
Because of this issue, the port that I assign is not working (ex. 9999)
![image](https://user-images.githubusercontent.com/38421180/88018776-3a204d00-cadd-11ea-9ed9-1eb356403b25.png)

[2020-07-21 06:48] mrpau-richard commented on #181
FYI - @mrpau-julius the Python version that Kolibri use to run will display at the Device info page.
![Screen Shot 2020-07-21 at 2 37 38 PM](https://user-images.githubusercontent.com/8663934/88021679-89f42800-cb60-11ea-8fa2-c7369d61a710.png)

I think you should close the command prompt after the environment variable is set, before running the Kolibri server. This was working on Windows 7
![Screen

[2020-07-21 07:15] mrpau-julius commented on #181
Oh I see, nice! @mrpau-richard  do we have a way to delete python 3.4 folders automatically?

[2020-07-21 23:25] indirectlylit commented on #181
We need to be a little careful: can we be sure that someone didn't install Python 3.4 on their own?

We don't want to delete things that the user may have put there intentionally.

[2020-07-21 23:29] radinamatic commented on #181
Agreed, we should leave it to the user to uninstall programs/components should they need or desire to.

As long as Kolibri running or upgraded to version 0.14 is working as expected while using Python 3.6, I see no issues in leaving the Python 3.4 on the user' system.

[2020-07-22 00:31] mrpau-julius commented on #181
Great! @indirectlylit @radinamatic, I will close this issue.

[2020-07-22 00:31] #181 closed

[2021-04-06 16:30] rtibbles opened #186 "Launch kolibri with appropriate installer type env var set"
In line with https://github.com/learningequality/kolibri/issues/7957 the batch file for launching Kolibri should properly set `KOLIBRI_INSTALLATION_TYPE` to `Windows`

[2021-05-07 15:05] rtibbles opened #187 "Correct erroneous assumption about port being the last line of the pid file"
Currently the code to get the active port from the Kolibri PID file assumes that it can keep reading the file until the file finishes:
https://github.com/learningequality/kolibri-installer-windows/blob/a55fb877b8c808eb302c6579424dc01afa8cdb99/src/gui-source/Kolibri/Kolibri.cpp#L76

However, recent updates have added additional lines to this PID file, meaning that it is now reading the wrong inform

[2021-06-11 06:42] micahscopes commented on #187
Here's a gist verifying that the method of calling `getline` twice does indeed get the second line in a predictable way:

https://gist.github.com/micahscopes/348cdbed199588cdbf5a281291cc8b6a

I'm not sure what's going wrong at this point.

c.c. @jonboiser @rtibbles

[2021-07-09 21:52] rtibbles commented on #187
Fixed in #188 and #192

[2021-07-09 21:52] #187 closed

[2021-12-17 21:57] #186 closed

[2022-01-20 19:31] rtibbles opened #196 "Create a reusable Github Action workflow for building the Windows installer"
Creating a [reusable workflow](https://docs.github.com/en/actions/using-workflows/reusing-workflows) will allow an action from this repository to be used by the main Kolibri repository to build the Windows installer in a way analogous to our current triggered build setup in Buildkite.

[2022-03-09 15:09] rtibbles commented on #196
Fixed in https://github.com/learningequality/kolibri-installer-windows/commit/dec567fa781d12943ff83050ab2a2a07e1d99380 and https://github.com/learningequality/kolibri-installer-windows/commit/ee1e642848e70e07424de1785ce3cc2bb0b23df9

[2022-03-09 15:09] #196 closed

[2022-03-15 17:05] rtibbles opened #197 "Update Python installer checksum in makefile"
We updated the downloaded python installer as the 3.6 installer we were using previously is no longer hosted. However, the checksum for the new Python 3.9 installer has not been updated and breaks buildkite builds.

The checksums for the 32 bit and 64 bit files need to be updated here: https://github.com/learningequality/kolibri-installer-windows/blob/develop/src/Makefile#L11

[2022-03-19 23:50] rtibbles commented on #197
Fixed in https://github.com/learningequality/kolibri-installer-windows/commit/b872f6e921e0840b41056bf2072d02d589e74f66

[2022-03-19 23:50] #197 closed

[2022-04-14 23:53] rtibbles opened #198 "Add code signing in Github Action for exe"
Currently, all our installer exes need to be manually signed. In order to better fit into a more automated release flow, it would be ideal if we could optionally run the code signing in the Github Action - using an optional `release` input - that would mean that the asset returned from the action is code signed and ready to be released.

[2022-06-21 19:56] rtibbles commented on #198
Fixed in https://github.com/learningequality/kolibri-installer-windows/commit/137d3310d1478953c698afe41362cf363b0591ae

[2022-06-21 19:56] #198 closed

[2022-09-11 00:21] dbhattkenpath opened #201 "getting issue in make dist cmd"
Hi Team,

I am trying to make window .exe setup of kolibri but when i am trying to run make dist cmd i am getting error.

[code]

does anybody help me make .whl file